{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/customer/create_itinerary.css' %}">{% endblock %}
    {% block title %}
        <title>Create/update Itinerary.</title>
    {% endblock %}
{% block meta %}
<meta name="description" content="Camping co India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="camping company, personalised itinerary, update,create,delete, itineraries">
{% endblock %}
    {% block content_block %}
        {% if messages %}
            {% for message in messages %}
                <div style="text-align: center; margin-top: 4%;" class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
<br>
<br>
<div class="manager">
  <div class="container">
      {% if itinerary is 0 %}
        <div class="row">
        {% for item in items %}
          <div class="col-md-4 col-sm-6">
            <div class="ca">
          <div class="co">
              {% for x in item.image_set.all|slice:":1" %}
            <img class="imgg" src="{{ x.image1.url }}">
              {% endfor %}
          </div>
          <div class="mo">
            <div class="info-bundle">
              <p class="title">{{item.place}}</p>
              <a target="_blank" href="{% url 'destination:destination_detail_page' slug=item.slug %}">See more</a>
              <input hidden readonly="readonly" type="number" value="{{item.id}}">
              <br>
              <br>
              <button type="button">Add To Itinerary</button>
            </div>
          </div>
          </div>
        </div>
        {% endfor %}
        </div>
      <div class="text-center">
          <form id="test" action="{% url 'customer:custom_itinerary' %}" method="POST">{% csrf_token %}
            <input class="stretch btn btn-lg" type="submit" value="Submit Choices">
          </form>
          <a class="stretch test btn btn-lg" id="tests" href="{% url 'customer:custom_itinerary' %}">Next</a>
     </div>
      {% else %}
        <h1>You Already have One delete Existing To create New One</h1>
        <a href= "{% url 'customer:delete_itinerary' %}" class="btn btn-danger">Delete Now??</a>
        <a href="{% url 'customer:custom_itinerary' %}" class="btn btn-primary">Check The Created One?</a>
      {% endif %}
  </div>
    </div>
{% endblock %}
