{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/home/detail.css' %}">{% endblock %}
    {% block title %}
        <title>Know more about the destination, the origin, activity etc.</title>
    {% endblock %}
    {% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="camping places detail, camping activities, camping origins, camping stay hours">
{% endblock %}
    {% block content_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="co">
                    <img src="{{item.images.url}}">
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="co max_width">
                    <h2>{{item.place}}</h2>
                    <p>{{item.description}}</p>
                    <p>Activities: {{item.activities}}</p>
                    <p>Distance from Guwahti: {{item.distance}} Km</p>
                    <p>Stay-Hours: {{item.hours}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
