{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/rest.css' %}">
    {% endblock %}
{% block title %}
    <title>Camping Co.</title>
{% endblock %}
    {% block content_block %}
    <br>
    <br>
    <br>
    <br>
    <div class="fix">
        <h1>Your Request has been Taken we will Contact You soon!</h1>
        <a href="{% url 'customer:user_page' %}" class="btn btn-lg btn-primary">Go back</a>
    </div>
    {% endblock %}