{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/user_page.css' %}">
    {% endblock %}

    {% block content_block %}
	<div class="main">
		        <div class="content">
    <div class="card">
        <div class="firstinfo"><img src="https://www.ncc.metu.edu.tr/sites/default/files/user-pro.png"></span>
            <div class="profileinfo">
                <h1 style="text-transform: capitalize">{{request.user}}</h1>
                <h3>{{customer.nickname}}</h3>
                <p class="bio"> {{customer.about}}</p>
            </div>
        </div>
    </div>
    <div class="badgescard">
        <span title="Create Itinerary"> <a href="{% url 'customer:create_itinerary' %}" class="fas fa-pencil-alt"> </a></span>
        <span title="Delete Itinerary"> <a href="{% url 'customer:delete_itinerary' %}" class="fas fa-trash-alt"></a></span>
        <span title="Show Itinerary"> <a href="{% url 'customer:custom_itinerary' %}" class="fas fa-eye"></a></span>
        <span title="Trip Status"> <a href="{% url 'customer:trip_detail' %}" class="fas fa-compass"></a></span>
        <span title="Profile"> <a class="fas fa-user-alt"></a></span>
        <!--<span></span>-->
        <!--<span></span>-->
    </div>
</div>
	</div>
	<a href="#navi" class="navi-trigger">
		<span class="navi-icon">
			<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54"></svg>
		</span>
	</a>

	<!-- Hidden Navi Menu -->
	<div id="navi" class="navi">
		<div class="navigation-wrapper">
			<div class="half-block">
				<h2>Navigation</h2>

				<nav>
					<ul class="primary-navi">
						<li><a href="{% url 'customer:create_itinerary' %}">Create Itinerary</a></li>
						<li><a href="{% url 'customer:delete_itinerary' %}">Delete Itinerary</a></li>
						<li><a href="{% url 'customer:custom_itinerary' %}">Show Itinerary</a></li>
						<li><a href="{% url 'customer:trip_detail' %}">Trip Details</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    {% endblock %}