{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="{% static 'css/vehicles/vehicles.css' %}">
    {% endblock %}
{% block title %}
    <title>Book Your dream Holiday.</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="vehicles at camping company, type of vehicle, Manual transmission, All-terrain tires,Ironman 4x4 roof top, tent,Seats 5, book ,check available, one step closer to create itinerary ">
{% endblock %}
{% block content_block %}
    <br>
    <br>

<div class="container my-5">
    <h1>Available Cars</h1>
    <div class="row">
    {% for vehicle in vehicles %}
        <div class="col-6">
            <img class="imgg" src="{{vehicle.car_image.url}}">
            <h3>{{vehicle.car_name}}</h3>
            <h3>{% if vehicle.available %} Available</h3>
            <div class="price">
                <button onclick= "location.href = '{% url 'vehicle:vehicle_info' %}';" class="btn">More Info</button>
                {% if user.is_superuser %}
                    <!--<p>What are you doing here</p>-->
                {% elif user.is_authenticated %}
                    <button onclick="location.href = '{% url 'customer:user_page' %}';" class="btn">Book Now</button>
                {% else %}
                    <button onclick="location.href = '{% url 'register:signin' %}';" class="btn">Book Now</button>
                {% endif %}
            </div>
                {% else %}
            <h3>Not Available</h3>
            <div class="price">
                <button onclick= "location.href = '{% url 'vehicle:vehicle_info' %}';" class="btn">More Info</button>
            </div>
            {% endif %}
        </div>
    <br>
    <br>
    {% endfor %}
        </div>
</div>
<!--<script>-->
    <!--$(".datetimepicker").datetimepicker({-->
     <!--timepicker:false,-->
     <!--format:'d.m.Y'-->
     <!--});-->
<!--</script>-->
{% endblock %}