{% extends "snippets/base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/vehicles/vehicle_info.css' %}">
{% endblock %}
{% block title %}
    <title>Vehicle Information.</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="vehicles at camping company, type of vehicle, Manual transmission, All-terrain tires,Ironman 4x4 roof top, tent,Seats 5,Camping kit BBQ, utensils, mugs & shovel ,All weather sleeping bags ">
{% endblock %}
{% block content_block %}
<div class="container">
   <div class="car">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="{% static 'images/IMG_1229.jpg' %}">
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/IMG_2753.jpg' %}" >
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/Meghalaya-tourism-the-camping-company.png' %}">
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a>
            </div>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="info1" style="float:left;">
               <h3>XENON SOFT-TOP 4x2</h3>
               <br>
               <p>The Xenon is equipped with a foldable rooftop tent that comfortably sleeps two travellers. The foldable tents are made of premium quality, breathable poly-cotton canvas with pop up window awning and flyscreen windows. The retractable ladder is attached to the tent. Set up time: 2-3 minutes</p>
            </div>
         </div>
      </div>
   </div>
   <div class="car">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel2" data-slide-to="1"></li>
                  <li data-target="#myCarousel2" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="{% static 'images/1vehicle.jpeg' %}">
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/Meghalaya-Tourism-best-way-to-reach-shillong.png' %}" >
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/Meghalaya-umiam-lake.png' %}">
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="carousel-control-prev" href="#myCarousel2" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel2" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a>
            </div>
         </div>
                  <div class="col-md-6 col-sm-12">
            <div class="info2">
               <h3>Mahindra Thar 4x4</h3>
               <br>
               <p>The Thar is equipped with a foldable rooftop tent that comfortably sleeps two travellers. The foldable tents are made of premium quality, breathable poly-cotton canvas with pop up window awning and flyscreen windows. The retractable ladder is attached to the tent. Set up time: 2-3 minutes</p>
            </div>
         </div>
      </div>
   </div>


   <div class="car">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div id="myCarousel3" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel3" data-slide-to="1"></li>
                  <li data-target="#myCarousel3" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/car_4.jpg" >
                  </div>
                  <div class="carousel-item">
                     <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/car_4.jpg" >
                  </div>
                  <div class="carousel-item">
                    <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/car_4.jpg" >
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="carousel-control-prev" href="#myCarousel3" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel3" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a>
            </div>
         </div>
                  <div class="col-md-6 col-sm-12">
            <div class="info2">
               <h3>XENON HARD-TOP 4x2</h3>
               <br>
               <p>The cars come equipped with a retractable (hydraulic suspension) rooftop tent that comfortably sleeps two travellers. The hard shell top provides four vertical walls which means extra space in the tent. The retractable ladder can be attached to the tent to get on and off.Set up time: 2-3 minutes</p>
            </div>
         </div>
      </div>
   </div>

   <div class="car">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div id="myCarousel4" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel3" data-slide-to="1"></li>
                  <li data-target="#myCarousel3" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/IMG_20190825_175308.jpg" >
                  </div>
                  <div class="carousel-item">
                    <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/IMG_20190825_175308.jpg" >
                  </div>
                  <div class="carousel-item">
                    <img src="https://camping-company.s3.ap-south-1.amazonaws.com/media/cars/IMG_20190825_175308.jpg" >
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="carousel-control-prev" href="#myCarousel4" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel4" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a>
            </div>
         </div>
                  <div class="col-md-6 col-sm-12">
            <div class="info2">
               <h3>CARAVAN Driver included</h3>
               <br>
               <p>Welcome to the world of glamping, on the move. The caravan comes fitted with roomy sleeping arrangement for 5-6 travellers, toilet, bathroom, fridge, microwave, and cabinets to hold all your baggage. The backdoors of the caravan open up to a make-shift kitchen with everything you may need to cook on the go. A driver will be provided with the caravan. All you have to do is get in it! set up time: None</p>
            </div>
         </div>
      </div>
   </div>


   <div class="container car">
       <br>
      <h3>WE RENT FULLY-OUTFITTED OVERLAND VEHICLES FOR UNBOUNDED ADVENTURE</h3>
      <br>
      <p>On the hunt for the perfect camp-ready rental? Whether you're hoping to visit picturesque valleys or explore the interiors of Northeast India, our vehicles are perfectly equipped to provide the ideal platform for adventurous travelers.</p>
      <p>WE USE ONLY THE HIGHEST QUALITY VEHICLES AND EQUIPMENT TO ENSURE COMFORT AND SAFETY.</p>
      <p>Our rentals come fully-equipped with all the needed camping gear and complimentary itinerary planning, so you can focus on enjoying your trip and not get overwhelmed by logistics. Aside from our list of included items below, we are able to provide a range of add-ons, from ground tents and sleeping bags, to cooking and cutlery so please feel free to ask.</p>
   </div>
   <br>
   <br>
   <br>
   <br>
</div>
{% endblock %}
