{% extends "snippets/base.html" %}
    {% load staticfiles %} {% block css %}
        <link rel="stylesheet" href="{% static 'css/vehicles/vehicles.css' %}">
    {% endblock %}
{% block title %}
    <title>Book Your dream Holiday.</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="vehicles at camping company, type of vehicle, Manual transmission, All-terrain tires,Ironman 4x4 roof top, tent,Seats 5, book ,check available, one step closer to create itinerary ">
{% endblock %}
{% block content_block %}
    <br>
    <br>

<div class="container">
{% if thar.car_type != "thar" %}
<div class="car">
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel2" data-slide-to="1"></li>
                  <li data-target="#myCarousel2" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="{% static 'images/1main.jpeg' %}">
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/Meghalaya-Tourism-best-way-to-reach-shillong.png' %}" >
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'images/Meghalaya-umiam-lake.png' %}">
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="carousel-control-prev" href="#myCarousel2" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel2" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a>
            </div>
         </div>
                <div class="price">
                    <button onclick= "location.href = '{% url 'vehicle:vehicle_info' %}';" class="btn">More Info</button>
                    {% if user.is_superuser %}
                        <!--<p>What are you doing here</p>-->
                    {% elif user.is_authenticated %}
                        <button onclick="location.href = '{% url 'customer:user_page' %}';" class="btn">Book Now</button>
                    {% else %}
                        <button onclick="location.href = '{% url 'register:signin' %}';" class="btn">Book Now</button>
                    {% endif %}
                </div>
        {% endif %}
    <br>

        {% if xenon.car_type != "xenon" %}
    <div class="car">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
           <!-- Indicators -->
           <ul class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
           </ul>
           <!-- The slideshow -->
           <div class="carousel-inner">
              <div class="carousel-item active">
                 <img src="{% static 'images/IMG_1229.jpg' %}">
              </div>
              <div class="carousel-item">
                 <img src="{% static 'images/IMG_2753.jpg' %}" >
              </div>
              <div class="carousel-item">
                 <img src="{% static 'images/Meghalaya-tourism-the-camping-company.png' %}">
              </div>
           </div>
           <!-- Left and right controls -->
           <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
           <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#myCarousel" data-slide="next">
           <span class="carousel-control-next-icon"></span>
           </a>
        </div>
     </div>
    <br>
            <div class="price">
                <button onclick= "location.href = '{% url 'vehicle:vehicle_info' %}';" class="btn">More Info</button>
                {% if user.is_superuser %}

                {% elif user.is_authenticated %}
                    <button onclick="location.href = '{% url 'customer:user_page' %}';" class="btn">Book Now</button>
                {% else %}
                    <button onclick="location.href = '{% url 'register:signin' %}';" class="btn">Book Now</button>
                {% endif %}
            </div>
        {% endif %}
    <br>
    {% if thar.car_type == "thar" and xenon.car_type == "xenon" %}
        <h1>No Vehicles Available, The date you have specified</h1>
    {% endif %}
</div>
<!--<script>-->
    <!--$(".datetimepicker").datetimepicker({-->
     <!--timepicker:false,-->
     <!--format:'d.m.Y'-->
     <!--});-->
<!--</script>-->
{% endblock %}