{% include "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/rest.css' %}">
{% endblock %}
{% block content_block %}
<div class="container">
<div class="row">
    <div class="fix">
   <form class="form-inline" method="POST" autocomplete="off">
       {% csrf_token %}
      <div class="col-md-3">
            <label for="yellow_box">yellow_box:</label>
             <input type="hidden" name="yellow_box" value="False">
            <input id="yellow_box" class="form-control bool" type="checkbox" name="yellow_box" value="{{equipment.yellow_box}}">
      </div>

             <div class="col-md-3">
            <label for="kettel">kettel:</label>
             <input type="hidden" name="kettel" value="False">
            <input id="kettel" class="form-control bool" type="checkbox" name="kettel" value="{{equipment.kettel}}">
      </div>
      <div class="col-md-3">
            <label for="utensils">utensils:</label>
             <input type="hidden" name="utensils" value="False">
            <input id="utensils" class="form-control bool" type="checkbox" name="utensils" value="{{equipment.utensils}}">
      </div>
      <div class="col-md-3">
            <label for="stove">stove:</label>
             <input type="hidden" name="stove" value="False">
            <input id="stove" class="form-control bool" type="checkbox" name="stove" value="{{equipment.stove}}">
      </div>
          <p>
              <br>
              <br>
          </p>

      <div class="col-md-3">
         <label for="bbq_grill">bbq_grill:</label>
          <input type="hidden" name="bbq_grill" value="False">
         <input id="bbq_grill" class="form-control bool" type="checkbox" name="bbq_grill" value="{{equipment.bbq_grill}}">
          </div>

      <div class="col-md-3">
            <label for="spare_tyre">spare_tyre:</label>
             <input type="hidden" name="spare_tyre" value="False">
            <input class="form-control bool" type="checkbox" name="spare_tyre" id="spare_tyre" value="{{equipment.spare_tyre}}">
      </div>

      <div class="col-md-3">
            <label for="shovel">shovel:</label>
             <input type="hidden" name="shovel" value="False">
            <input class="form-control bool" type="checkbox" name="shovel" id="shovel" value="{{equipment.shovel}}">
      </div>

      <div class="col-md-3">
            <label for="mug_bucket">mug_bucket:</label>
             <input type="hidden" name="mug_bucket" value="False">
            <input class="form-control bool" type="checkbox" name="mug_bucket" id="mug_bucket" value="{{equipment.mug_bucket}}">
      </div>

            <div class="col-md-3">
            <button class="btn btn-primary btn-block">Submit!</button>
      </div>
   </form>
    </div>
</div>
</div>
{% endblock %}
