{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/register/register.css' %}">
    {% endblock %}
{% block title %}
    <title>Login.</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping co India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="login camping company, create, signup, camping company awesome">
{% endblock %}
    {% block content_block %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form">

              <ul class="tab-group">
                <li class="tab active"><a href="#signup">Sign Up</a></li>
                <li class="tab"><a href="#login">Log In</a></li>
              </ul>

              <div class="tab-content">
                <div id="signup">

                  <form action="{% url 'register:signup' %}" method="post">{% csrf_token %}

                  <div class="top-row">
                    <div class="field-wrap">
                      <label>
                        Username<span class="req">*</span>
                      </label>
                      <input type="text" required autocomplete="off" name="username"/>
                    </div>

                    <div class="field-wrap">
                      <label>
                        Email<span class="req">*</span>
                      </label>
                      <input type="email"required autocomplete="off" name="email"/>
                    </div>
                  </div>

                  <div class="field-wrap">
                    <label>
                      Password<span class="req">*</span>
                    </label>
                    <input id="password1" type="password"required autocomplete="off" name="password1"/>
                  </div>

                  <div class="field-wrap">
                    <label>
                      ConfirmPassword<span class="req">*</span>
                    </label>
                    <input id="password2" type="password"required autocomplete="off" name="password2"/>
                  </div>
                      <div class="field-wrap">
                    <label>
                      Referral code (if any, code is 6 digit)
                    </label>
                    <input id="referral" type="text" autocomplete="off" name="slug"/>
                  </div>

                  <button class="button button-block">Get Started</button>

                  </form>

                </div>

                <div id="login">
                  <h1>Welcome Back!</h1>

                  <form action="{% url 'register:signin' %}" method="post">{% csrf_token %}

                    <div class="field-wrap">
                    <label>
                      Username<span class="req">*</span>
                    </label>
                    <input type="text"required autocomplete="off" name="username"/>
                  </div>

                  <div class="field-wrap">
                    <label>
                      Password<span class="req">*</span>
                    </label>
                    <input type="password"required autocomplete="off" name="password"/>
                  </div>

                  <!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->

                  <input type="hidden" name="next" value="{{next}}">

                  <button class="button button-block">Log In</button>

                  </form>

                </div>

              </div>

        </div>
<script>
    window.onload = function(){
        var password = document.getElementById("password1")
      , confirm_password = document.getElementById("password2");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    };
</script>
    {% endblock %}