{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
<link rel="stylesheet" href="{% static 'css/home/blog.css' %}">
    {% endblock %}

    {% block content_block %}
<br>
  <img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/blog_images/IMG_5674.jpg" width="100%" height="500">
  {% for x in all %}
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url({{x.blog_images.url}})"></div>
      <ul class="details">
        <li class="author"><a href="{% url 'customer:user_page' %}">{{x.user.username|title}}</a></li>
        <li class="date">{{x.created_date}}</li>
        <li class="tags">
          <ul>
            <li class="tags">{{x.created_time}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{x.heading}}</h1>
      <h2>{{x.sub_heading}}</h2>
      <p>{{x.description}}</p>
      <p class="read-more">
        <a href="{% url 'blog:blog_detail' pk=x.pk %}">Read More</a>
      </p>
    </div>
  </div>
  {% endfor %}
  <br>
    {% endblock %}