{% extends "snippets/base.html" %}
{% load staticfiles %}

    {% block meta %}
    <meta name="description" content="{{ blog.description }}">
    {% endblock %}

    {% block title %}
    <title>{{ blog.heading }}</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}">
        <link rel="canonical" href="https://www.camping-co.com">
    {% endblock %}

    {% block content_block %}
        <img class="image" src="{{blog.blog_cover_images.url}}">
        <div class="container my-5 mr-auto">
          {% for y in image %}
            <p>{{y.content|safe}}</p>
            {% if not y.blog_image1.url.isempty %}
                <img class="fix" src="{{y.blog_image1.url}}">
            {% else %}
            {% endif %}
            {% if not y.blog_image2.url.isempty %}
            <br>
            <br>
            <br>
            <br>
                <img class="fix" src="{{y.blog_image2.url}}">
            {% else %}
              {% endif %}
          {% endfor %}
            </div>
    <br>
    {% endblock %}