{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/home/blog_detail.css' %}">
    {% endblock %}

    {% block content_block %}
        <img class="image" src="{{blog.blog_cover_images.url}}">
        <div class="container my-5 mr-auto">
          {% for y in image %}
            <p>{{y.content|linebreaks}}</p>
            {% if not y.blog_image2.url.isempty %}
                <img src="{{y.blog_image1.url}}">
            {% else %}
            {% endif %}
            {% if not y.blog_image2.url.isempty %}
            <br>
            <br>
            <br>
            <br>
                <img src="{{y.blog_image2.url}}">
            {% else %}
              {% endif %}
          {% endfor %}
            </div>
    <br>
    {% endblock %}