{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/payment.css' %}">
    {% endblock %}


    {% block content_block %}
<br>
<div class="shopping-cart my-5 container">
<h1>Shopping Cart</h1>
<form id="payment-form" method="POST">{% csrf_token %}
<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-line-price">Total</label>
  </div>

  <hr>

  <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Car</div>
      <p class="product-description"></p>
    </div>
    <div id="car-pr" class="product-price">2999</div>
    <div class="product-quantity">
        <input value="2" type="number" disabled>
    </div>
    <div class="product-line-price" id="car-price">2999</div>
  </div>

  <hr>
  <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Extra Person</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">350</div>
    <div class="product-quantity">
      <input id="quant" quant="111" type="number" value="0" min="0" max="3">
    </div>

    <div class="product-line-price">0</div>
  </div>
<hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Campkit(Sleeping bags, kettle, saucepan, charcoal stove)</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">1500</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Gas stove</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">300</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Solar power station for charging needs</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">100</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Torch</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">50</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0" max="2">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Camping Chair</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">30</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Table</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">200</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>

  <div id="coupon-text" style="margin-left: 20%;">
  <label for="coupon-code">Coupon code</label>
      <input style="max-width: 20%;" id="coupon-code" type="text">
        <button id="btn-coupon" style="font-size: 12px;" class="btn btn-secondary">Apply</button>
  <p style="font-size: 10px;">*Use CC20 for 20% discount</p>
  </div>

    <hr>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">2999</div>
    </div>
    <div class="totals-item">
      <label>IGST</label>
      <div class="totals-value" id="cart-tax">539.82</div>
    </div>
    <div class="totals-item">
      <label>Convenience charge</label>
      <div class="totals-value" id="cart-shipping">59.98</div>
    </div>

    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">3598.8</div>
    </div>

    <div class="totals-item">
      <label>Discount</label>
      <div class="totals-value" id="cart-discount">0</div>
    </div>

    <div class="totals-item">
      <label>Amount Payable</label>
      <div class="totals-value" id="cart-payable"></div>
    </div>

  </div>
      <button id="rzp-button1" type="button" class="checkout">Pay</button>
</div>
</form>
</div>
<br>
<script>
  window.onload = function(){
  let duration = localStorage.getItem("duration")
  var totals = 0;
  var taxs = 0;
  var shippings = 0;
  var taxRate = 0.18;
  var shippingRate = .021;
  var fadeTime = 300;

if (duration >= 4){
$('.product-price')[3].textContent = 2000
}
if(localStorage.getItem("car_type") === "thar"){
  $("#quant").attr("max",4)
} else {
  $("#quant").attr("max",3)
  }

var pri = 2999 * parseInt(duration);
$('#car-price').html(pri)

var tax = pri * taxRate;
var shipping = pri * shippingRate;

var total = pri + tax + shipping;
$(".totals-value")[0].textContent = pri
$(".totals-value")[1].textContent = (.18 * pri).toFixed(2);
$(".totals-value")[2].textContent = (.021 * pri).toFixed(2);
$(".totals-value")[3].textContent = total.toFixed(2);

$('#cart-payable').html((total).toFixed(2));


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {
  removeItem(this);
});



/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;

  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });

  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = subtotal * shippingRate;
  var total = subtotal + tax + shipping; /*+ tax + shipping;*/
  totals = total
  taxs = tax
  shippings = shipping

  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if($("#coupon-text").html() == "Applied"){
      $('#cart-payable').html((total-(total*.2)).toFixed(2));
      } else {
        $('#cart-payable').html(total.toFixed(2));
      }
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  if ($(quantityInput).attr("quant")){
    price *= parseInt(duration)
}

  var linePrice = price * quantity;

  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });
  }

  if (totals == 0){
          totals = total
          taxs = tax
          shippings = shipping
        }
      $("#btn-coupon").click(function(){
      if($("#coupon-code").val() == "CC20"){
        $("#coupon-text").html("Applied")
        $('#cart-discount').html(-(totals*.2).toFixed(2));
          $('#cart-payable').html((totals-(totals*.2)).toFixed(2));
        totals = totals-(totals*.2)
        x = $("input")
        for (let y of x){
	        y.disabled = true
            }
        }
});


  var options = {
    "currency": "INR",
    "name": "Camping co",
    "description": "Overlanding expedition booked",
    "image": "{% static 'images/favicon/apple-icon-72x72.png' %}",
    "handler": function (response){
            var end_point = {% url 'pay:pay' %}
            var end = end_point + "success/";//success/faliure
            var t = $("input[name=csrfmiddlewaretoken]").val();
            data = {
              "txnid": response.razorpay_payment_id,
              "duration": localStorage.getItem("duration"),
              "check_in": localStorage.getItem("check_in"),
              "car_name": localStorage.getItem("car_name"),
              "car_type": localStorage.getItem("car_type"),
              "csrfmiddlewaretoken": t
            }
            $.ajax({
              data: data,
              url: end,
              method: "POST",
              success: function(data){
                localStorage.clear();
                window.location.href = end;
              },
              error: function(error){
                  console.log(error)
              }
          })
    },
    "prefill": {
    },
    "notes": {
        "address": "note value"
    },
    "theme": {
        "color": "#1ab188"
    }
};
document.getElementById('rzp-button1').onclick = function(e){
    e.preventDefault();
    var paymentForm = $("#payment-form")
    var data = $('form').serialize();
        var paymentMethodEndpoint = "{% url 'pay:pay' %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        var data = {
            "total": totals,
            "car_price": "2999",
            "person_price": $(".product-line-price")[2].textContent,
            "campkit": $(".product-line-price")[3].textContent,
            "gas_stove": $(".product-line-price")[4].textContent,
            "solar_power": $(".product-line-price")[5].textContent,
            "torch": $(".product-line-price")[6].textContent,
            "chair": $(".product-line-price")[7].textContent,
            "table": $(".product-line-price")[8].textContent,
            "igst": taxs,
            "convenient": shippings,
            'csrfmiddlewaretoken': t
        }
        $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
            options.amount = (data.amount) * 100
            options.prefill.email = data.email
            options.prefill.name = data.name
            options.key = data.razor_id
            var rzp1 = new Razorpay(options);
            rzp1.open();
            },
            error: function(error){
                console.log(error)
            }
        })
}
}
</script>
    {% endblock %}