{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/checkout.css' %}">
    {% endblock %}

    {% block content_block %}
  <head onload="submitPayuForm()">
  <script type="text/javascript">
    var hash = "{{ hashh }}";
    function submitPayuForm() {
      if(hash == '') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
  </head>
<div class="peeek-loading">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

      <form class action={{ posted.action }} method="post" name="payuForm">
        <input type="hidden" name="key" value="{{posted.key}}" />
        <input type="hidden" name="hash_string" value="{{ posted.hash_string }}" />
        <input type="hidden" name="hash" value="{{ posted.hashh }}"/>
        <input type="hidden" name="posted" value="{{ posted }}"/>
        <input type="hidden" name="txnid" value="{{ posted.txnid }}" />
        <input type="hidden" name="amount" value="{{ posted.amount|default:'' }}" />
        <input type="hidden" name="firstname" id="firstname" value="{{ posted.firstname|default:'' }}" />
        <input type="hidden" name="email" id="email" value="{{ posted.email|default:'' }}" />
        <input type="hidden" name="phone" value="{{ posted.phone|default:'' }}" />
        <input type="hidden" name="productinfo" value="{{ posted.productinfo|default:'' }}">
        <input type="hidden" name="surl" value="{{ posted.surl }}" size="64">
        <input type="hidden" name="furl" value="{{ posted.furl }}" size="64">
        <input type="hidden" name="service_provider" value="{{posted.service_provider}}" size="64" />
        <input id="imp" type="submit" value="Submit" />
    </form>
<script>
window.onload = function(){
  $("#imp").click()
}
</script>
    {% endblock %}