{% extends "snippets/base.html" %}
{% load staticfiles %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/checkout.css' %}">
    {% endblock %}


    {% block content_block %}
<br>
<br>
<br>
    <div style="text-align: center;">
        <h4>Thank You.</h4>
        <h4>Your order status is success</h4>
        <h4>Your Transaction ID for this transaction is {{ pay.txnid }}</h4>
        <h4>We have received a payment of Rs {{ pay.amount }}</h4>
    </div>

<br/>
<br/>
    {% endblock %}
