{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home/footer.css' %}">
<div class="mar">
    <div class="box">
        <footer class= "footer">
            <a href="https://www.youtube.com/channel/UC6mvUrWd2m4KbokMSALM0Hw"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/thecampingco"><i class="fab fa-facebook"></i> </a>
            <a href="https://www.instagram.com/camping_company"><i class="fab fa-instagram"></i></a>
            <div class="cont">
                <div><a href="{% url 'app:terms_condition' %}"><strong>Terms & conditions</strong></a></div>
                <div> Camping Co. @ 2018</div>
            </div>
        </footer>
    </div>
</div>