{% load staticfiles %}
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="{% static 'js/popper.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
    <script defer src="{% static 'js/easing.js' %}"></script>
    <script defer src="{% static 'js/vehicles.js' %}"></script>
    <script defer src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script defer src="{% static 'js/data.js' %}"></script>
    <script defer src="{% static 'js/bootable.js' %}"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>