{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home/about.css' %}">
{% endblock %}
{% block title %}
<title>About Camping Co, one step towards Awesomeness</title>
{% endblock %}
{% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="Who is camping company, who created Company company, what camping company offer, what is overlander what are vehicles what people say about camping-company , camping company youtube videos">
{% endblock %}
{% block content_block %}
<section id="testim" class="testim">
   <div class="wrap">
      <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
      <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
      <ul id="testim-dots" class="dots">
         <li class="dot active"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
         <li class="dot"></li>
      </ul>
      <div id="testim-content" class="cont">
         <div class="active">
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/rana.webp" alt=""></div>
            <h2>Rana</h2>
            <p>Had an amazing time in the truck. Harsh was very prompt and clear about communications. This camping experience took my trip to meghalaya a step further for sure! Absolutely loved it!</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/shaswat.webp" alt=""></div>
            <h2>Shashwat</h2>
            <p>If you want to experience something extraordinary and memorable in your life, then go on a trip in this beast.</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/shanmuga.webp" alt=""></div>
            <h2>Shanmuga</h2>
            <p>It was a great adventure trip , we loved it .Harsh was a great host and helped us to plan the trip well, the places suggested by him was awesome. We had a great time</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/roopshre.webp" alt=""></div>
            <h2>Roopshree Chauhan</h2>
            <p>Great way to explore and experience a place. Friendly and well informed host. Comfortable vehicle on all terrain.</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/jocelyn.webp" alt=""></div>
            <h2>Jocelyn</h2>
            <p>Harsh has got this amazing Roof Top Tent on his SUV, it takes care of both, your travel as well as your stay. All you have to do is give him your dates and he chalks out your route allowing you to maximise on your time while arranging the best night stops. A must-do is a night halt or two at Black Bridge Resort where you will get to meet and interact with Lana. Another halt organised is at Sa-i-Mika Resort, you can spend the entire day in the cafe. The tent suffices just nicely to keep you warm and cozy. BBQ equipped - what more does one need?</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/ira.webp" alt=""></div>
            <h2>Ira</h2>
            <p>We are 3 girls and this was our first camping trip. It was surprisingly easy! Harsh and Heena were very responsive and helpful with all he planning and with our questions. Meghalaya was so beautiful in all the crazy rain and thunder, and it’s definitely something I want to do again. Good car and thoughtful amenities. :D a must experience!</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/taran.webp" alt=""></div>
            <h2>Taran</h2>
            <p>This was so far the best experience of my life and words can't do justice. One must take this trip to truly understand what we felt. All thanks to harsh for being a wonderful host and friend.</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/varun.webp" alt=""></div>
            <h2>Varun</h2>
            <p>To experience closeness of nature and the freshness around you opting in for the car-roof-tent was our best choice. The comfort it provided throughout the journey was just so amazing. Thank You the company company for making the trip and our anniversary so memorable. The idea of Car-roof is just apt for people who are crazy for adventure and want to be always close to nature. And the best thing which I should mention is the super co-ordination of Mr. Harsh with us. His support and contacts helped us a lot. Cheers !! ***** Varun</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/shamsul.webp" alt=""></div>
            <h2>Shamsul</h2>
            <p>I would say it was one of the finest office getway we have done. The hosts are fantastic people and their idea of life is quite amazing. Harsh's place is in my opinion the best way to explore North east India. I would advice everyone to come prepared to live on your own. Listen carefully to all key advice and lovely routes Harsh and Heena have to offer. People in Assam & Meghalaya are super friendly & generous, always ask for help and they will love to hang around with you and make life easier. Please do not litter!! Hope this is helpful.</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/shantanu.webp" alt=""></div>
            <h2>Shantanu</h2>
            <p>It was one of the most memorable vacations of my life. Everything was just perfect, from the local tips that Harsh and Heena gave to car handling to a) how easy it was to set up the tent and b) how comfortable it was! The fact that our hosts were constantly checking on us when we were travelling was really re-assuring as it sometimes got confusing being out there in the wild! I would recommend following their itinerary tips rather than going for the obvious places and you will have a trip which you will remember for a lifetime!</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/jui.webp" alt=""></div>
            <h2>Jui</h2>
            <p>If you like adventure and being close to the nature then go for this camping vacation with Harsh’s beast camping van with a exotic tent to sleep in. Harsh is an avid traveler and was best at his hosting tips throughout the trip. He knows the places to the T . He drew the whole iternary for me as per my preferences . The camping nights were super easy and sleek as a first timer and that’s what made the whole trip fun. One of my best experiences to cherish for life.</p>
         </div>
         <div>
            <div class="img"><img src="https://s3.ap-south-1.amazonaws.com/camping-company/media/Reviewers/hattie.webp" alt=""></div>
            <h2>Hattie</h2>
            <p>We had the most amazing trip using Harsh's Mahindra Thar driving around Meghalaya. One of the most fun and different trips we have ever been on. Harsh met us before with the car and made sure we were comfortable with how everything, including setting up the tent, worked. He designed an itinerary for us around the best spots in Meghalaya which was perfect and we were able to be quite flexible with this when we wanted to stay somewhere longer. All the places recommended to stay were ideal for what we needed, with great food and very friendly people! Black Bridge Resort was our favourite. Harsh was helpful and quick to respond throughout the trip, which made us feel very relaxed. Definitely recommend - the best and most flexible way to see the North East!</p>
         </div>
      </div>
   </div>
</section>
<div class="pos container">
   <div class="row">
      <div class="col-md-8" id="mart">
         <div class="co">
            <h3>Who are we?</h3>
            <p>Welcome to Camping Co. We are the creators and believers of an alternate way of exploring the world. Camping co. is India's first self-drive over-land expedition venture.</p>
            <p>Nature has a subtle way of enhancing consciousness, mindfulness, and awareness. With this belief, Camping Co. was created to provide a platform to have an immersive experience with nature. We enable travelers to explore the unexplored with the help of SUVs, jeeps equipped with rooftop tents and camping gears for a comfortable overlanding expedition. It's a self-drive rental model.</p>
            <p>Camping Co. aims to provide a solution for nature tourism and create a community of avid nature-adventure lovers.</p>
            <p><strong> Camping Amenities: </strong></p>
            <ul>
               <li> Rooftop tent for 3 Adventurers </li>
               <li> Sleeping Bags </li>
               <li> BBQ Grill</li>
               <li> Ground tents</li>
               <li> Camp table and Chairs </li>
               <li> Cooking and Plating wares</li>
               <li> Charcoal and Kerosene for cooking</li>
               <li> Additional Equipment available upon request</li>
            </ul>
            <p><strong>WE RENT FULLY-OUTFITTED OVERLAND VEHICLES FOR UNBOUNDED ADVENTURE</strong>
            <p>
            <p>On the hunt for the perfect camp-ready rental? Whether you're hoping to visit picturesque valleys or explore the interiors of Northeast India, our vehicles are perfectly equipped to provide the ideal platform for adventurous travelers and nature lovers.</p>
            <p><strong>WE USE ONLY THE HIGHEST QUALITY VEHICLES AND EQUIPMENT TO ENSURE COMFORT AND SAFETY.</strong></p>
            <p>Our rentals come fully-equipped with all the needed camping gear and complimentary itinerary planning, so you can focus on enjoying your trip and not get overwhelmed by logistics. Aside from our list of included items below, we are able to provide a range of add-ons, from ground tents and sleeping bags, to cooking and cutlery so please feel free to ask.</p>
            <br>
            <br>
         </div>
      </div>
      <div class="col-md-4 scrollbar" id="style-1">
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/zwZ1vMuSvTo" allowfullscreen></iframe>
            </div>
         </div>
         <!--<div class="co">-->
            <!--<div class="videoWrapper">-->
               <!--<iframe src="" data-src="https://www.youtube.com/embed/zwZ1vMuSvTo&t=1s" allowfullscreen></iframe>-->
            <!--</div>-->
         <!--</div>-->
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/4kH63qOLINo" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/pxKlen_COPg" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/QINiRw7EoJs" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/hJufTK7G1xg" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/7BeQqo1dCEE" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/eOptMYv1Dcs" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/SOPDRvUSs9s" allowfullscreen></iframe>
            </div>
         </div>
         <div class="co">
            <div class="videoWrapper">
               <iframe src="" data-src="https://www.youtube.com/embed/BpZtzV_8K5M" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="mySlides" src="{% static 'images/The-Camping-Company-Shillong.png' %}" alt>
<script>
   window.onload = function(){
       var myIndex = 0;
       carousel();
       function carousel() {
           var i;
           var x = document.getElementsByClassName("mySlides");
           for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
           }
           myIndex++;
           if (myIndex > x.length) {myIndex = 1}
           x[myIndex-1].style.display = "block";
           setTimeout(carousel, 2000); // Change image every 2 seconds
       }
       }

</script>
<script>
   function init() {
   var vidDefer = document.getElementsByTagName('iframe');
   for (var i=0; i<vidDefer.length; i++) {
   if(vidDefer[i].getAttribute('data-src')) {
   vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
   } } }
   window.onload = init();
</script>
<script>
   var	testim = document.getElementById("testim"),
   testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
   testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
   testimLeftArrow = document.getElementById("left-arrow"),
   testimRightArrow = document.getElementById("right-arrow"),
   testimSpeed = 4500,
   currentSlide = 0,
   currentActive = 0,
   testimTimer,
   touchStartPos,
   touchEndPos,
   touchPosDiff,
   ignoreTouch = 30;
   ;

   function playSlide(slide) {
       for (var k = 0; k < testimDots.length; k++) {
           testimContent[k].classList.remove("active");
           testimContent[k].classList.remove("inactive");
           testimDots[k].classList.remove("active");
       }

       if (slide < 0) {
           slide = currentSlide = testimContent.length-1;
       }

       if (slide > testimContent.length - 1) {
           slide = currentSlide = 0;
       }

       if (currentActive != currentSlide) {
           testimContent[currentActive].classList.add("inactive");
       }
       testimContent[slide].classList.add("active");
       testimDots[slide].classList.add("active");

       currentActive = currentSlide;

       clearTimeout(testimTimer);
       testimTimer = setTimeout(function() {
           playSlide(currentSlide += 1);
       }, testimSpeed)
   }

   testimLeftArrow.addEventListener("click", function() {
       playSlide(currentSlide -= 1);
   })

   testimRightArrow.addEventListener("click", function() {
       playSlide(currentSlide += 1);
   })

   for (var l = 0; l < testimDots.length; l++) {
       testimDots[l].addEventListener("click", function() {
           playSlide(currentSlide = testimDots.indexOf(this));
       })
   }

   playSlide(currentSlide);

   // keyboard shortcuts
   document.addEventListener("keyup", function(e) {
       switch (e.keyCode) {
           case 37:
               testimLeftArrow.click();
               break;

           case 39:
               testimRightArrow.click();
               break;

           case 39:
               testimRightArrow.click();
               break;

           default:
               break;
       }
   })

   testim.addEventListener("touchstart", function(e) {
   touchStartPos = e.changedTouches[0].clientX;
   })

   testim.addEventListener("touchend", function(e) {
   touchEndPos = e.changedTouches[0].clientX;

   touchPosDiff = touchStartPos - touchEndPos;

   console.log(touchPosDiff);
   console.log(touchStartPos);
   console.log(touchEndPos);


   if (touchPosDiff > 0 + ignoreTouch) {
   		testimLeftArrow.click();
   } else if (touchPosDiff < 0 - ignoreTouch) {
   		testimRightArrow.click();
   } else {
   	return;
   }

   })
</script>
{% endblock %}