{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static 'css/home/about.css' %}">{% endblock %}

    {% block content_block %}
        <img class="mySlides" src="{% static 'images/IMG_1220.jpg' %}" alt>
        <img class="mySlides" src="{% static 'images/IMG_1229.jpg' %}" alt>
        <img class="mySlides" src="{% static 'images/IMG_1332.jpg' %}" alt>
        <img class="mySlides" src="{% static 'images/The-Camping-Company-Shillong.png' %}" alt>
        <img class="mySlides" src="{% static 'images/IMG_2753.jpg' %}" alt>
        <img class="mySlides" src="{% static 'images/19.jpeg' %}" alt>

<div class="pos container">
    <div class="row">
        <div class="col-md-6">
        <div class="co">
            <h3>Who are we?</h3>
            <p>Welcome to The Camping Company. We are the creators and believers of an alternate way of exploring the world. Camping co. is India's first self drive over-lander expedition venture.</p>
            <p>We rent SUVs and Pickups, equipped with luxury roof-top tents and everything you need for an overland adventure.</p>
            <p>​We aim to create a community of thinkers, doers and avid nature - adventure lovers. </p>
            <p>Located in Guwahati, Assam, we are the gateway to some of the best camping sites, trekking trails, waterfalls, national parks, forests and river islands of North East India.</p>
            <p><strong> Camping Amenities: </strong></p>
                <ul>
                    <li> Rooftop tent for 3 Adventurers </li>
                    <li> Sleeping Bags </li>
                    <li> BBQ Grill</li>
                    <li> Ground tents</li>
                    <li> Camp table and Chairs </li>
                    <li> Cooking and Plating wares</li>
                    <li> Charcoal and Kerosene for cooking</li>
                    <li> Additional Equipment available upon request</li>
                </ul>
            <p><strong>WE RENT FULLY-OUTFITTED OVERLAND VEHICLES FOR UNBOUNDED ADVENTURE</strong><p>
            <p>On the hunt for the perfect camp-ready rental? Whether you're hoping to visit picturesque valleys or explore the interiors of Northeast India, our vehicles are perfectly equipped to provide the ideal platform for adventurous travelers and nature lovers.</p>
            <p><strong>WE USE ONLY THE HIGHEST QUALITY VEHICLES AND EQUIPMENT TO ENSURE COMFORT AND SAFETY.</strong></p>
            <p>Our rentals come fully-equipped with all the needed camping gear and complimentary itinerary planning, so you can focus on enjoying your trip and not get overwhelmed by logistics. Aside from our list of included items below, we are able to provide a range of add-ons, from ground tents and sleeping bags, to cooking and cutlery so please feel free to ask.</p>
        </div>
        </div>
        <div class="col-md-6">
            <div class="co">
                <div class='contentWrapper'>
                  <article>
                    <div class='theatre'>
                      <div class="videoWrapper">
                    <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/zwZ1vMuSvTo" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </article>
                </div>
            </div>
            <div class="co">
                <div class='contentWrapper'>
                  <article>
                    <div class='theatre'>
                      <div class="videoWrapper">
                    <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/OiZFBOo63Jg" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </article>
                </div>
            </div>

            <div class="co">
                <div class='contentWrapper'>
                  <article>
                    <div class='theatre'>
                      <div class="videoWrapper">
                    <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/4kH63qOLINo" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </article>
                </div>
            </div>

            <div class="co">
                <div class='contentWrapper'>
                  <article>
                    <div class='theatre'>
                      <div class="videoWrapper">
                        <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/pxKlen_COPg" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </article>
                </div>
            </div>

            <div id='tapame' /></div>
        </div>
    </div>
    </div>
    <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 2000); // Change image every 2 seconds
            }
            </script>
   <script>
    function init() {
    var vidDefer = document.getElementsByTagName('iframe');
    for (var i=0; i<vidDefer.length; i++) {
    if(vidDefer[i].getAttribute('data-src')) {
    vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
    } } }
    window.onload = init;
   </script>
    <script>
        function metele() {
      $(".theatre").each(function() {
        var x = $(this).offset().left - $(window).scrollLeft();
        var y = $(this).offset().top - $(window).scrollTop();
          var ancho = $(this).width();
        var alto = $(this).height();
        $(this).click(function() {
          $(this).addClass("grande").css({
            'left': x,
            'top': y,
            'max-width' : ancho
          });      $(this).next(".placeholder").addClass('activ').css({
          'width': ancho,
          'height': alto
        });
          $("#tapame").addClass("abierto");
        });
      });
    }

    $(window).on("load", function(e) {
      $(".theatre").each(function() {
        $(this).after("<div class='placeholder'/>");
      });
      $("#tapame").click(function() {
        $(".theatre").removeClass("grande").css({'max-width':'100%'});
        $(".placeholder").removeClass('activ');
        $(this).removeClass("abierto");
        metele();
      });
      metele();
    });

    $(window).on("scroll resize", function(e) {
      metele();
    });
    </script>
    {% endblock %}