{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/all_user.css' %}">
    {% endblock %}

    {% block content_block %}
<div class="container my-5">
    <br>
    <br>
    <br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Car Type</th>
                <th>Guests</th>
                <th>Start-Date</th>
                <th>End-Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.user.first_name|title }}</td>
                    <td>{{ trip.car_type|title }}</td>
                    <td>{{ trip.guest }}</td>
                    <td>{{ trip.check_in_date }}</td>
                    <td>{{ trip.check_out_date }}</td>
                    <td>{{ trip.trip_status|title }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<br>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{% endblock %}
