{% extends "snippets/base.html" %}

{% load staticfiles %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/home/destination.css' %}">
    {% endblock %}

    {% block title %}
        <title>The places Offered By Camping Company</title>
    {% endblock %}

    {% block meta %}
        <meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
        <meta name="keywords" content="destination, beautiful places, East India, Mountains, valleys, waterfall, umiam lake, White water village Mawphlang Sacred Groove,Shnonpdeng Dawki,Krangsuri,Living Root Bridge, Dainthlen Falls, Waterfalls of Meghalaya, Kynrem Falls, Nohsngithiang Falls, Caving in Meghalaya">
    {% endblock %}
{% block content_block %}
<br>

<div class="container">
    <h1 class="header">Explore Our Campsites</h1>
    <div class="fade-div">This is an interactive map Double click to continue</div>
    <iframe src="https://maphub.net/embed/48876?button=0&panel=1"></iframe>
    <span class="colors"><i class="fas fa-camera"></i> Sight Seeing</span>
    <br>
    <span class="colors"><i class="fas fa-fire"></i> Camp sites</span>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
    <li data-target="#demo" data-slide-to="8"></li>
      <li data-target="#demo" data-slide-to="9"></li>
    <li data-target="#demo" data-slide-to="10"></li>
    <li data-target="#demo" data-slide-to="11"></li>

  </ul>
    <div class="carousel-inner">
          {% for x in items %}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
          <img style="" src="{{ x.images.url }}" width="1100" height="500">
          <div class="carousel-caption">
              <p style="position: relative;"><a href="{% url 'customer:itinerary_detail_page' x.pk %}">{{x.place}}</a></p>
          </div>
        </div>
          {% endfor %}
      </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<script>
    window.onload = function(){
        $(".fade-div").click(function () {
        $(this).hide()
})

    }
</script>
    {% endblock %}