{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/rest.css' %}">
    {% endblock %}

    {% block content_block %}
<div class="container my-5">
    <br>
        <h1>FAQs on Overlanding Expeditions:</h1>

<ol>
    <li>Can I take the car anywhere?
    <ul>
        <li>You can choose to do freedom camping or choose from our various partner properties where you can use amenities like toilets, charging points, food etc by paying a nominal fee. Overlanding cars are built to provide the freedom of staying anywhere you like. Like somewhere? Stay there!</li>
    </ul>
    </li>
        <li>Will you help me with my itinerary?
    <ul>
        <li>Absolutely! We derive pleasure in speaking with our guests, knowing you a little better and curating an itinerary according to your preferences. Our overlanding experts usually ask how adventurous you are and then proceed with the planning.</li>
    </ul>
    </li>
        <li>Can I get a driver?
    <ul>
        <li>Our guests usually prefer self-driving but you can choose to hire a driver on your risk and liability.</li>
    </ul>
        </li>
        <li>Would you recommend it for first time campers?
    <ul>
<li>If you are an avid nature lover then you are going to have a memorable time. It’s the best way to experience nature up close so in short A BIG YESS! If I have to throw a number to satiate your analytical mind then 80% of our guests are first time campers. Please go through -
Guide to first time overlanding expeditions</li>
      </ul>
        </li>
    <li>Can I bring my kids along?
    <ul>
<li>You’d be surprised to see them not missing their laptops, ipads, phones & video games. We take extra care of these bright minds so feel free to ask your overlanding expert about the tips and tricks.
Meet Azaan - One of our first & youngest Overlander!</li>
</ul>
    </li>

    <h2>Gift of Azaan</h2>

    <li>What about senior citizens?
    <ul>
        <li>
The rooftop tent is supremely comfortable and they won’t miss their bed at home. Meet our Granny who camped and trekked on our recent visit.</li>
    </ul>
    </li>
<li> What should I carry with me for an overlanding journey?

<ul>We provide sleeping bags and some essentials for camping, please ask the expert while booking your trip. Cycles, fishing road etc are available for extra cost.
    <li>You should carry:</li>
<ol>
    <li>Toilet paper and toiletries</li>

    <li>Ready to eat food and snacks</li>
    <li>Warm clothes and trekking/sports shoes</li>
    <li>Torches</li>
    <li>Quilt/sheet/blanket/pillow (personal preference)</li>
    <li>Binoculars (personal preference)</li>
    <li>Anything that you think might be helpful outdoors to make you comfortable</li>
    </ol>
</ul>
</li>
</ol>
</div>
<br>
{% endblock %}
