{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/home/faq.css' %}">
    {% endblock %}

    {% block content_block %}
<br>
<div class="container my-5">
<div class="toggle">
    <section>
        <h1>FAQ's on Overlanding Expeditions:</h1>
    </section>
	<div class="toggle-title ">
		<h3>
		<span class="title-name">Can I take the car anywhere?</span>
		</h3>
	</div>
	<div class="toggle-inner">
        <p>You can choose to do freedom camping or choose from our various partner properties where you can use amenities like toilets, charging points, food etc by paying a nominal fee. Overlanding cars are built to provide the freedom of staying anywhere you like. Like somewhere? Stay there!</p>
	</div>
	</div>


	<div class="toggle">
		<div class="toggle-title ">
			<h3>
			<span class="title-name">Will you help me with my itinerary?</span>
			</h3>
		</div>

		<div class="toggle-inner">
            <p>Absolutely! We derive pleasure in speaking with our guests, knowing you a little better and curating an itinerary according to your preferences. Our overlanding experts usually ask how adventurous you are and then proceed with the planning.</p>
		</div>
		</div>

		<div class="toggle">
			<div class="toggle-title  ">
				<h3>
				<span class="title-name">Can I get a driver?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>Our guests usually prefer self-driving but you can choose to hire a driver on your risk and liability.</p>
			</div>

			</div>



		<div class="toggle">
			<div class="toggle-title  ">
				<h3>
				<span class="title-name">Would you recommend it for first time campers?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>If you are an avid nature lover then you are going to have a memorable time. It’s the best way to experience nature up close so in short A BIG YESS! If I have to throw a number to satiate your analytical mind then 80% of our guests are first time campers. Please go through - Guide to first time overlanding expeditions</p>
			</div>

			</div>

		<div class="toggle">
			<div class="toggle-title ">
				<h3>
				<span class="title-name">Can I bring my kids along?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>You’d be surprised to see them not missing their laptops, ipads, phones & video games. We take extra care of these bright minds so feel free to ask your overlanding expert about the tips and tricks. Meet Azaan - One of our first & youngest Overlander!</p>
			</div>

			</div>

		<div class="toggle">
			<div class="toggle-title ">
				<h3>
				<span class="title-name">What about senior citizens?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>The rooftop tent is supremely comfortable and they won’t miss their bed at home. Meet our Granny who camped and trekked on our recent visit.</p>
			</div>
			</div>

  		<div class="toggle">
			<div class="toggle-title ">
				<h3>
				<span class="title-name">What should I carry with me for an overlanding journey?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>We provide sleeping bags and some essentials for camping, please ask the expert while booking your trip. Cycles, fishing road etc are available for extra cost.</p>
                <ul>
                    <li>You should carry:
                        <ol>
                        <li>Toilet paper and toiletries</li>
                        <li>Ready to eat food and snacks</li>
                        <li>Warm clothes and trekking/sports shoes</li>
                        <li>Torches</li>
                        <li>Quilt/sheet/blanket/pillow (personal preference)</li>
                        <li>Binoculars (personal preference)</li>
                        <li>Anything that you think might be helpful outdoors to make you comfortable</li>
                        </ol>
                    </li>
                </ul>
			</div>
			</div>

      		<div class="toggle">
			<div class="toggle-title ">
				<h3>
				<span class="title-name">Guide to first time overlanding expedition like it’s your 100th time!?</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p>We provide sleeping bags and some essentials for camping, please ask the expert while booking your trip. Cycles, fishing road etc are available for extra cost.</p>
                <ol>
                    <li>Always reach your campsite before sunset. Sun sets here between 4.30-6pm, it’s much easier to set up an amazing campsite with the sun going down! At the time of picking up the vehicle we do quick 45 min orientation to make you comfortable with the equipments and how to set up the campsite.</li>
                    <li>Travel light!</li>
                    <li>Always drive carefully. All our cars are made with love & utmost care. We personally take care of them. We also care about you a lot more than those so please follow traffic and local road rules.</li>
                    <li>All our partner properties or home stays are run and managed by passionate people like us so please be nice and respectful to them.</li>
                    <li>Bring back your waste to the city where it can be treated properly. We want to keep the mountains as clean as possible please help us in doing so. We are the promoters of litter free and responsible tourism.</li>
                    <li>In case you are going for a trek, carry only a backpack with essentials and change of clothes. In other words ‘the less you need, the more you know’</li>
                    <li>Explore new places and campgrounds apart from the ones mentioned in your itinerary. Trust us there are many and also tell us about it. We are a sucker for a good travel story.</li>
                    <li>Carry a book if you love reading and experience bliss!</li>
                    <li>Build a bonfire. Add a skill to your explorer hat.</li>
                    <li>Take pictures and share it with us. We may cover your story on insta handle <a href="https://www.instagram.com/thecampingcompany/">@thecampingcompany</a></li>
                    <li>Whenever in doubt ask for local help or reach out to us. People are quite friendly here but be genuinely nice to them.</li>
				</ol>
			</div>
			</div>

	<div class="toggle">
			<div class="toggle-title ">
				<h3>
				<span class="title-name">Check Our Blogs For more Awesome Adventures</span>
				</h3>
			</div>

			<div class="toggle-inner">
                <p><a href="{% url 'blog:all_blog' %}">Blogs</a></p>
			</div>
			</div>

</div>
<br>
<br>
<script>

</script>
{% endblock %}