{% extends "snippets/base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block title %}
    <title>Camping Co.</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Camping company India is a 4x4 off-roading company that takes you for an off-road adventure of a lifetime across various regions of India. ">
<meta name="keywords" content="30C457AB5F7D9AF22DA71F4B105427AF18B55E0DB74F3CF09C5B5B606A3A8BA1">
{% endblock %}

{% block content_block %}
<br>
        {% if messages %}
            {% for message in messages %}
                <div class="my-4 alert alert-danger" style="text-align: center">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}

<section class="port">
    <video preload="metadata" autoPlay loop muted oncanplay="this.muted=true" id="video">
      <source src="{% static 'video/1.mp4' %}" type="video/MP4">
    </video>
</section>

  <form class="form-inline" action="{% url 'vehicle:vehicles' %}" method="POST" autocomplete="off">{% csrf_token %}
    <div id="apple" class="row no-gutters">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
            <input type="text" class="form-control email" name="place" list="places" placeholder="Places">
            <datalist id="places">
              <option value="Meghalaya">
              <option value="Assam">
              <option value="Arunachal Pradesh">
              <option value="Nagaland">
              <option value="Sikkim">
            </datalist>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <input type="text" name="tripDay" class="form-control date" id="datetimepicker" placeholder="DD/MM/YYYY">
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="form-group">
        <input type="text" list="Duration" name="Duration" class="form-control" id="list" placeholder="Days">
        <datalist id="Duration">
          <option value="1">
          <option value="2">
          <option value="3">
          <option value="4">
          <option value="5">
          <option value="10">
          <option value="30">
        </datalist>
      </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <button type="submit" class="btn">Submit</button>
        </div>
    </div>
  </form>
<script>
    $("#datetimepicker").datetimepicker({
     timepicker:false,
     format:'Y-m-d'
     });
</script>

{% endblock %}