{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/all_user.css' %}">
    {% endblock %}

    {% block content_block %}
<div class="container my-5">
    <br>
    <br>
    <br>
        <form id="tests" action="{% url 'app:represent' %}" method="POST">{% csrf_token %}
        <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr">
            <br>
        <input class="btn btn-secondary" type="submit" value="Start Adding Status">
    </div>
    </form>
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Car Type</th>
                <th>Guests</th>
                <th>Start-Date</th>
                <th>End-Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
                <tr>
                    <td><a href="{% url 'app:show_status' pk=trip.user.pk %}">{{ trip.user.first_name|title }}</a></td>
                    <td>{{ trip.car_type|title }}</td>
                    <td>{{ trip.guest }}</td>
                    <td>{{ trip.check_in_date|date:"Y/m/d"  }}</td>
                    <td>{{ trip.check_out_date|date:"Y/m/d"  }}</td>
                    <td>{{ trip.trip_status|title }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<br>
<script>
    window.onload = function(){
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
}
</script>
<script>
    $(document).ready(function() {
            $("#tests").submit(function(e) {
        e.preventDefault();
        var t = $("input[name=csrfmiddlewaretoken]").val();
        return $.ajax({
            type: "POST",
            url: "/represent/",
            data: {
                email: $("#usr").val(),
                csrfmiddlewaretoken: t
            },
            success: function(e) {
                if (e.id === 0){
                    alert("email not found")
                    }else{
                ser = e.id.toString(10)
                window.location = "http://127.0.0.1:8000/status/"+ser+"/show/"
            }
            },
        })
    })
    })
</script>
{% endblock %}
