{% extends "snippets/base.html" %}
 {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/term_condition.css' %}"> {% endblock %} 

   {% block content_block %}
<div class="container">
     <div class="bor">

    <h1>Agreement</h1>
   <!--This agreement (hereafter referred to as the “Agreement or “Contract”) dated________________, 2018, is-->
<!--between______________________________________________________________ (renter) and Harsh-->
<!--Sharma (hereafter referred to as the “Owner”), (individually, the “Party” and collectively, the “Parties”).-->
<!--WHEREAS, the renter requests the services (self drive car for rent) referred to as the “Service(s)”) of the-->
<!--Contractor.-->
<h2>The Parties agree as follows:</h2>
<h2>Eligibility</h2>
<p>The service is available only to people who are above the age of 21 years holding a valid
national/international driver’s license.</p>
    <h2>Responsibilities of the Renter</h2>
    <ol>
        <li>
            The rented vehicle shall be driven only by the renter and co-drivers mentioned at the time of
booking. The renter shall not assign any other person to drive the vehicle without written consent of
owner.
        </li>

        <li>
            The renter shall be solely liable for all losses including but not limited to claims, actions, demands,
damages, penalties, fines, liability arising in case of contravention with these Terms and Conditions or
any law.
        </li>

        <li>
            The renter shall not damage, tamper, remove or make any changes to the registered number plate
of the Vehicle. In case of violation of this, the renter shall be liable to pay such penalties as imposed
by owner at its sole discretion. Owner reserves the right to take legal action against the renter for the
same.
        </li>

        <li>
            The renter shall not abandon the Vehicle under any circumstances without prior written approval of
owner. In cases, where the renter has abandoned the vehicle, owner shall charge Rs 5,000 along with
100% of damage charge along with the vehicle carriage, downtime and other miscellaneous charges
irrespective of the insurance coverage. Owner reserves the right to report the vehicle as stolen or
missing and take legal action against the renter.
        </li>

        <li>
            The renter shall not allow any person other than personnel of an authorized service centre without
the prior authorization of owner to carry out any work of any nature in any manner on the Vehicle.
Booking
        </li>
    </ol>

    <h2>Booking</h2>
    <ol>
        <li>
            The renter shall present the original identity and address proof and original driving license for
verification at the time of booking. Owner shall be entitled to cancel the booking in case the original
driving license is not presented. The booking amount paid if any, shall be forfeited in such case and
no refund is applicable.
        </li>

        <li>
            Renter must pick up the vehicle return the vehicle to the same address.
        </li>

        <li>
            Upon the renter’s request, owner may provide for a pickup or delivery facility of the Vehicle, the
charges for such facility will be as mentioned in the invoice or as intimated by owner to the Renter
while processing such request.
        </li>

        <li>
            Vehicles can be picked up and returned only during the timings from 6 AM to 10 PM. The standard
Rental / Late charges if any will continue to be applicable for late delivery.
        </li>


        <li>
            If the renter fails to return the vehicle without informing owner at the date, time and location agreed
at the time of booking, owner reserves the right to notify the appropriate authorities that the vehicle is
stolen or missing.
        </li>


        <li>
            Pets are not allowed inside the vehicle.
        </li>

        <li>
            Owner requests the renter to inspect the vehicle before starting the trip for any technical,
mechanical or any other issue with the vehicle and report to owner about the same before starting the
trip. Any issues reported as pre existing post 2 hours of start of journey will not be considered.
        </li>

        <li>
            The renter’s acceptance of delivery of the Vehicle will be considered as the renter’s
acknowledgment of having received the Vehicle in good condition. The renter further agrees that
he/she shall not make any claim of receiving the vehicle in bad working condition.
        </li>

        <li>
            Owner has taken all precautions to render the vehicle safe for use, owner shall not be liable for
mechanical failures and other damages caused by the negligence of the renter. Renter shall not make
any claim for damages against owner for delay, loss or injury through breakdown or accident.
        </li>

        <li>
            The cost of fuel is not included in the rental. The renter shall be liable for cost of fuel consumed
during the Rental Period. The vehicle has to be returned with the same fuel level as given at the time
of delivery. owner shall charge for the deficit quantity of the fuel along with the conveyance charges.
Fee Policy
        </li>
    </ol>

<h2>Fee Policy</h2>
<p>Renter must return the vehicle to owner on the scheduled return time mentioned at the time of
    booking.</p>
<p><strong>Late Return:</strong>3X of the hourly rental charges will be charged for late returns. (Example: If the hourly
rental is Rs 100 per hour then Rs 300 per hour will be charged for any delay in the return). To avoid
late return charges, the renter may extend the trip (extension is subject to availability).</p>

<p><strong>Trip Extension:</strong>1.2X of the hourly rental charges will be charged in case of trip extension. Trip
extension is subject to availability of the vehicle. Trip extension will be confirmed only after the due
payment against the extended period has been received by owner. The minimum extension period is
    8 hours.</p>
<p><strong>Trip Shortening:</strong> <p>No refund is applicable for shortening the trip.
Cancellation: For cancellation made before more than 24 hours of the trip start: 50% of the total rental
charges or Rs 1,000 whichever is
higher. For cancellation made less than 24 hours of the trip start: No refund applicable.
No show: No Refund applicable. A No show shall mean the event wherein the renter does not claim
delivery of the Vehicle within 4 hours of the pre-decided delivery time.</p>

<h2>Damage Policy</h2>
<ol>
    <li>
        The renter shall ensure that the Vehicle at the time of return is in proper operating condition,
undamaged and clean.
    </li>

    <li>
        The renter shall return the Vehicle in the same good order and condition, as had been delivered to
the renter. The decision of owner in respect of the order and condition of the Vehicle and Vehicle
Parts shall be final.
    </li>
    <li>
        The renter shall not continue to use the Vehicle in the event of severe damage or a breakdown of
the Vehicle. Further the renter must
inform about any such damage to owner at the earliest possible.
    </li>

    <li>
        The renter shall be solely and fully responsible for any loss or damage caused to the Vehicle. The
renter shall immediately inform owner within 3 hours of any loss or damage caused to the Vehicle or
any break down, malfunction or other failure thereof. The obligations of the renter hereunder shall not
be prejudiced by the existence of any policy of insurance in respect thereof.
    </li>

    <li>
        The renter will be liable for 100% of the entire vehicle damage bill in the event where the vehicle
workshop and/or insurance company deems the damage to be consequential in nature (this will be
stated in the accident report). Consequential damage
occurs when the renter continues driving even after an external vehicle impact, thereby severely
undermining the condition of the
vehicle.
    </li>
    <li>
        At the time of return of the Vehicle to owner by the renter, if owner detects any damage in the
Vehicle, owner shall intimate to the Renter details of such damage and the cost payable for such
damage. The renter is liable to pay the charges for such

damages along with the downtime charges.
    </li>
    <li>
        Insurance will not be claimed for damage below Rs 90,000 in case of 4 wheelers. In case of
claiming the insurance a standard insurance deductible charge Rs 25,000 for 4 wheeler will be
charged from the renter.
    </li>

    <li>
        In event of any damage caused to the Vehicle the Renter agrees to repair and/or replace the
damaged vehicle part at his own
expense with a new Vehicle part of the same dimension/ branding in an authorized service centre for
such Vehicle as intimated by
owner and after obtaining prior approval from owner.
    </li>
    <li>
        The renter will be liable to pay 100% in damages in the event where the vehicle is driven by any
other person other than the renter
or a co-driver mentioned at the time of booking.
    </li>
    <li>
        The renter is liable to pay 100% of damages along with the fines and penalties if the renter is
found to be driving the car under the influence of alcohol or any drug which the Govt of India has
prohibited while driving.
    </li>
</ol>

<strong>Scratch:</strong><p>INR 1000 for 4 wheelers per scratch for scratches up to 3 inches will be charged. For more
critical scratches, damage charge according to the actual estimate taken from the Authorized service
centre will be charged along with the downtime charges if any.</p>
<strong>Downtime charges:</strong> <p>50% of the standard hourly rental will be charged as the downtime charge for the
total number of hours the vehicle stays unusable by owner due to accident or any other reason
caused by the renter. Downtime charge is applicable irrespective of any weekly holiday or any other
holiday. The minimum downtime charge is applicable for 2 days and the maximum downtime charge
is applicable for 15 days.</p>
<h2>Fines and Penalties</h2>
<p>Smoking inside the vehicle: Rs 500 along with cleaning and damage charge for the interiors will be
charged by the renter for smoking
    inside the vehicle.</p>
<p><strong> Cleaning required:</strong> If the vehicle requires cleaning or washing, then the renter shall be charged Rs
500 for 4 wheelers and Rs 200 for 2 wheelers. Vehicle requiring dry cleaning or excessive cleaning
will be charged Rs 500 in case of 2 wheelers and Rs 1,000 in case of 4 wheelers.
Over-speeding: Rs 1,500 will be charged for over speeding above 90 kms/hr. The booking will be
immediately cancelled in case the renter continues driving the vehicle over the prescribed speed limit.
The renter is liable to return the vehicle back to owner. No refund is applicable in such cases.
Abandoning the vehicle: Rs 5,000 along with 100% of damage charge along with the vehicle
    carriage/towing, downtime and other miscellaneous charges irrespective of the insurance coverage.</p>
<p>Removing Logo or Branding: Rs 2,000 will be charged in case the logo or branding of owner on the
vehicle is found removed.</p>

<p>Failure to return the vehicle at the scheduled location: Rs 2,000 along with the hourly rent,
conveyance cost of owner; executives and cost of bringing the vehicle back to owner&#39;s location
Loss of vehicle accessories: Rs 1,000 along with the actual cost of the accessories. Attempt to
tamper GPS and vehicle jammer device: Rs 10,000 along with the damage cost. owner may also
taken legal action on the renter.
Causing any type branding on the vehicle: Rs 2,000 along with the cost of cleaning and downtime
    charges.</p>

<p><strong>Failure to return the vehicle key:</strong> Rs 2,000 along with any other incidental charges if any. Any</p>
    <strong>Intentional damage:</strong> <p>Any intentional
    damage such as rash driving, continue driving after accident or driving under extreme conditions.</p>
<h2>Vehicle usage policy</h2>
<ol>
    <li>
        The renter shall drive the Vehicle in conformity to the driving regulations made by the central
Government or directions given by the police officer, including but not limited to The Motor Vehicles
Act, 1988, the Central Motor Vehicle Rules and/or 1989, the Rule of the Road Regulations, 1989.
    </li>

    <li>
        The renter shall not use the vehicle for any purpose not permitted by the law, motorsports, rally,
driving lessons, towing. The renter shall not decorate the vehicle without prior written consent of
owner.
    </li>

    <li>
        The renter shall not drive the vehicle under the influence of alcohol or any other drugs or with a
blood alcohol concentration above the limit prescribed by the law.
    </li>
    <li>
        The renter shall not take the vehicle to Nagaland or Manipur without prior written consent of owner.
    </li>

    <li>
        The renter shall not drive the vehicle in extreme off road areas, water bodies etc. The renter shall
be liable for any damage caused to
the vehicle due to off roading, harsh driving.
    </li>
    <li>
        The renter shall not carry passengers more than the passenger carrying capacity of the vehicle
according to the registration
certificate.
    </li>

    <li>
        The renter shall not drive above or below the speed limit permitted by the law at different places.
Over speeding charge as per the
fine and penalty policy shall be charged.
    </li>
</ol>


<h2>Roadside Assistance and Replacement of the vehicle</h2>
<ol>
    <li>
         Roadside assistance and/or a replacement vehicle may be provided in accessible areas (subject to
availability of resources and vehicle) in such cases where the Vehicle develops such a problem that
restrains the renter from its use. Owner shall make all efforts to ensure that the Vehicle manufacturer
or a third party partner of owner provides roadside assistance to the renter in such cases. However,
owner provides no guarantee that such replacement vehicle will be made available.
    </li>

    <li>
        In case of any breakdown or accident in an area where roadside assistance is not provided by
owner, the renter is liable to contact and take the vehicle to the nearest authorized service centre. The
cost of towing or any other expense such as carriage or on spot repair cost shall be borne by the
renter if the breakdown/accident has happened due to the negligence of the renter.
Owner Rights
    </li>
</ol>
<h2>Owner's Rights</h2>
<ol>
    <li>
        The renter understands that owner has the right at all times to track the Vehicle, using GPS,
primarily for security reasons and/or for any other reasons deemed necessary by owner.
    </li>
    <li>
        owner reserves the right to repossess the vehicle and for such purpose may enter upon the
premises where the vehicle may be situated and the Renter shall be responsible for and shall
indemnify owner against all actions, claims, costs and damages consequent upon or arising from such
repossession and removal.
    </li>
    <li>
        owner at its sole discretion may seize/lock/stop the vehicle using the GPS and Vehicle jammer
device installed in the vehicle.
Security deposit
    </li>
</ol>

<h2>Security Deposit</h2>
<ol>
    <li>
        In case of failure to provide any acceptable identity document as a security deposit, owner shall
keep an advance refundable security deposit of Rs 2000 for 2 wheeler and Rs 3,000 for 4 wheeler.
The security deposit shall be refunded via bank account transfer, NEFT or RTGS within 7 days of trip
end date.
    </li>
</ol>

<h2>Payments</h2>
<ol>
    <li>
        Any fine arising from parking, traffic or driving violation will be charged along with Rs 1000 per fine.
    </li>

    <li>
        All charges including but not limited to parking charges, towing charges, impounding charges and
toll charges during the Rental
Period shall be borne by the Renter.
    </li>
    <li>
        Owner reserves the right to adjust/deduct all charges for use of the Vehicle and/or any damage
and/or any liability that may
arise due to the renter availing the services directly from the Security Deposit.
    </li>
    <li>
        The renter hereby understands and agrees that refund of balance of Security Deposit or any
inadvertently charged amount will be refunded only to the renter’s bank account through NEFT, RTGS
or Bank Transfer within 7 working days.
    </li>
    <li>
        In the event the renter defaults on any payments, owner is entitled to charge reminder fees, default
interest in accordance with the provisions of the law. In addition, owner may utilize third parties to
collect amounts owed to owner by the renter.
6. On defaults of the payment due, owner is entitled to keep the documents in the custody until the
time dues are cleared.
    </li>
</ol>


<h2>Cancellations and Refunds</h2>
<ol>
    <li>
        In an event wherein cancellation is done by owner for any reasons on part of owner, owner shall
refund the booking amount. owner cannot be held liable for cancellations due to fog, earthquake,
floods, fire, riots, strike or circumstances beyond its control and in such cases, the booking amount
will be refunded.
    </li>

    <li>
        In an event wherein cancellation is done by owner due to unforeseen circumstances, owner will
Endeavour to provide the renter with an alternate vehicle from the list of available vehicles at that
given point of time. In the event where the tariff for the alternate vehicle is higher than the one
reserved by the renter, the reservation for the alternate vehicle, shall not be deemed to be confirmed
until the renter accepts the revised tariff.
    </li>
    <li>
        In the event, where the tariff for the alternate vehicle is lower than the one reserved by the Renter,
the difference in final tariff shall be reimbursed to the renter.
    </li>

    <li>
        In no event shall owner be liable for any special, incidental, indirect or consequential damages of
any kind in connection with these Terms and Conditions and the Services, even if the renter has been
informed in advance of the possibility of such damages.
    </li>

    <li>
        In case of any refunds related to any repair work done by the renter, the renter must produce the
original invoice of such charges. No refund is applicable in case where the proper invoice is not
produced.
    </li>
</ol>


<h2>Disclaimer regarding services</h2>
<ol>
    <li>
        Owner shall not be responsible or liable for any loss or damage, howsoever caused or suffered by
the renter arising out of the use of the services or due to owner’ failure to provide the Services at all,
for any reason whatsoever whether or not beyond the control of owner.
    </li>
    <li>
        Owner is committed to provide the advertised features and facilities but are not liable for
compensation in failure to provide the same.
    </li>

    <li>
        Owner is not responsible or liable for any loss or damage during camping. Location where the
rentar parks is entirely his responsibility.
    </li>


</ol>

<p><strong>RELEASE FROM LIABILITY.</strong> I hereby release and discharge “OWNER” from any and all liability,
claims, demands or causes or actions that I may hereafter have for injuries or damages arising out of
my participation in “camping activities” even if caused by negligence or other fault of owner.</p>
<p><strong>COVENANT NOT TO SUE.</strong> I further agree that I WILL NOT SUE OR MAKE CLAIM against “OWNER”
    for damages or other losses sustained as a result of my participation in “camping activities”</p>

<p><strong>ASSUMPTION OF RISK.</strong> I understand and acknowledge that “camping activities” are inherently
dangerous and I EXPRESSLY AND VOLUNTARILY ASSUME ALL RISK OF DEATH OR PERSONAL
INJURY SUSTAINED WHILE CAMPING WHETHER OR NOT CAUSED BY THE NEGLIGENCE OR
OTHER FAULT of “OWNER” including but not limited to equipment malfunction from whatever cause,
inadequate training, any deficiencies in the landing area, rescue attempts, bad landings, or any other
    injury I may sustain even if caused by negligence or any other fault of “OWNER”</p>
<h2>Dispute Resolution and Jurisdiction</h2>
<ol>
    <li>
        Terms of use shall be governed by and interpreted and construed in accordance with the laws of
India. The place of jurisdiction shall be exclusively in Guwahati.
    </li>
    <li>
        Any dispute or disagreement arising out of these Terms and Conditions including but not limited to
issues relating to the rights and liabilities of both the renters and/or owner, interpretation of these
Terms and Conditions, and all such other issues arising out of these Terms and Conditions shall be
referred to a sole arbitrator appointed by owner.
    </li>

    <li>
        The arbitration proceedings will be governed by the Arbitration and Conciliation Act, 1996. The
arbitration proceedings shall be held in Guwahati, India and conducted in Hindi/English.
    </li>

    <li>
        The Terms and Conditions will be enforceable, and any arbitration award will be final, and
judgment thereon may be entered in any court of competent jurisdiction.
LATE CHARGE: 3X of the standard Rental Charges.
(Example: If the hourly rental is Rs 100, then the late charge will be Rs 100 x 3= Rs 300)
TRIP EXTENSION: 1.2X of the standard rental charges will be charged in case of trip extension.
NOTE: No extension will be considered without payment of extension amount.Extension amount is
not adjustable with the Security Deposit.
    </li>
</ol>


<p><strong>SECURITY DEPOSIT:</strong> Security deposit is not refundable in Cash and shall be refunded back in the
account of the person in whose name booking is made. Security Deposit refund shall be made within
3 working days by Bank Transfer only.</p>
<p><strong>LEGAL RIGHTS.</strong> It has been explained to me, and I understand, that by signing this document, I am
    giving up important legal rights, and it is my intention to do so.</p>
<p><strong>UNDERSTANDING/BINDING OR AGREEMENT.</strong> I hereby certify that I have read and understand the
    contents of this document and wish to be bound by terms</p>
</div>
    </div>
   {% endblock %}
