{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home/detail.css' %}">
<link rel="canonical" href="https://www.camping-co.com">
{% endblock %}
{% block title %}
<title>{{item.place}}</title>
{% endblock %}
{% block meta %}
<meta name="description" content="{{item.description}}">
<meta name="keywords" content="camping places detail, camping activities, camping origins, camping stay hours">
{% endblock %}
{% block content_block %}
<h1>&nbsp;</h1>
<br>
<br>
<h1 class="container">{{Data}}</h1>
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image1.url}});">
            </div>
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image2.url}});">
         </div>
      </div>
      <div class="row no-gutters">
         <div class="col-md-6">
            <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image3.url}});">
         </div>
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image4.url}});">
         </div>
      </div>
   </div>
<br>
      <div class="cards">
      <h2 style="display: inline-block;">{{destination.place}}</h2> &nbsp;<span>({{destination.state_city}})</span>
         <p><strong>Accessible by:</strong> {{detail.accessible_By}}</p>
      <p style="margin-top: -2%;"><strong>Known for:</strong> {{destination.cc_higlight}}</p>
      <i class="fas fa-car"></i>
      <i class="fas fa-biking"></i>
      <i class="fas fa-fire"></i>
      <i class="fas fa-toilet-paper"></i>
      <span class="cards__text">Off &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cycling &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Campfire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;toilet </span>
      <span class="cards__text">Roading</span>
      <br>
                  <p>Important To know: {{destination.important_to_know|safe}}</p>
         {% if user.is_authenticated %}
         <p><a href="{{destination.map_loc}}">Google Maps Location</a>&nbsp;&nbsp;&nbsp;Contact Number: {{detail.phone}}</p>
         {% else %}
         <p class="cards__contact">Contact Number</p>
         <form action="{% url 'register:signin' %}" method="GET">
            <input hidden name="next" value="{{place}}">
            <button class="btn btn-secondary">Sign in for info</button>
         </form>
         {% endif %}
      </div>

<div class="container">
   <div class="description">
      <div class="row">
         <div class="col-md-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="description__style">
               <h4>Description and Features</h4>
            </div>
         </div>
         <div class="col-md-9 text-style">
            <br>
            <div class="description__content">{{destination.description|safe}}</div>
         </div>
      </div>
   </div>
   <hr>
      <br>
   <div class="">
      <div class="row">
         <div class="col-md-3">
            <h4>Amenities</h4>
         </div>
         <div class="col-md-9 divide">
            <ul>
               {% if amenity.basic_toilet %}
                  <li><i class="fas fa-toilet">&nbsp;</i>toilet</li>
               {% else %}
                  <li class="strike"><i class="fas fa-toilet">&nbsp;&nbsp;</i>toilet</li>
               {% endif %}

               {% if amenity.bathroom %}
                  <li><i class="fas fa-toilet">&nbsp;</i>bathroom</li>
               {% else %}
                  <li class="strike"><i class="fas fa-restroom">&nbsp;&nbsp;</i>bathroom</li>
               {% endif %}

               {% if amenity.kitchen %}
                  <li><i class="fas fa-utensils">&nbsp;</i>kitchen</li>
               {% else %}
                  <li class="strike"><i class="fas fa-utensils">&nbsp;&nbsp;</i>kitchen</li>
               {% endif %}

               {% if amenity.pets_allowed %}
                  <li><i class="fas fa-paw">&nbsp;</i>pets</li>
               {% else %}
                  <li class="strike"><i class="fas fa-paw">&nbsp;&nbsp;</i>pets</li>
               {% endif %}

               {% if amenity.charging_points %}
                  <li><i class="fas fa-charging-station"></i>&nbsp;</i>charging points</li>
               {% else %}
                  <li class="strike"><i class="fas fa-charging-station"></i>&nbsp;&nbsp;</i>charging points</li>
               {% endif %}

               {% if amenity.drinking_water %}
                  <li><i class="fas fa-glass-whiskey">&nbsp;</i>drinking water</li>
               {% else %}
                  <li class="strike"><i class="fas fa-glass-whiskey">&nbsp;&nbsp;</i>drinking water</li>
               {% endif %}

               {% if amenity.covered_area %}
                  <li class="fix"><i class="fas fa-home">&nbsp;</i>covered area</li>
               {% else %}
                  <li class="strike"><i class="fas fa-home">&nbsp;&nbsp;</i>covered area</li>
               {% endif %}

               {% if amenity.barbeque_grills %}
                  <li><img src="https://img.icons8.com/material-outlined/24/000000/grill.png">barbeque</li>
               {% else %}
                  <li class="strike"><img src="https://img.icons8.com/material-outlined/24/000000/grill.png"> >barbeque</li>
               {% endif %}

               {% if amenity.campfire %}
                  <li><i class="fas fa-fire">&nbsp;</i>bonfire</li>
               {% else %}
                  <li class="strike"><i class="fas fa-fire">&nbsp;&nbsp;</i>bonfire</li>
               {% endif %}

               {% if amenity.picnic_table %}
                  <li><i class="fas fa-table">&nbsp;</i>picnic table</li>
               {% else %}
                  <li class="strike"><i class="fas fa-table">&nbsp;&nbsp;</i>picnic table</li>
               {% endif %}

               {% if amenity.breakfast %}
                  <li><i class="fas fa-egg">&nbsp;</i>breakfast</li>
               {% else %}
                  <li class="strike"><i class="fas fa-egg">&nbsp;&nbsp;</i>breakfast</li>
               {% endif %}

            </ul>
         </div>
      </div>
   </div>
   <hr>
   <br>

   <div class="Activity">
      <div class="row">
         <div class="col-md-3">
            <h4>Activities</h4>
         </div>
         <div class="col-md-9 divide">
            <ul>

               {% if activity.off_roading %}
                  <li><i class="fas fa-car">&nbsp;</i>off-roading</li>
               {% else %}
                  <li class="strike"><i class="fas fa-table">&nbsp;&nbsp;</i>off-roading</li>
               {% endif %}


               {% if activity.trekking %}
                  <li><i class="fas fa-hiking">&nbsp;</i>trekking</li>
               {% else %}
                  <li class="strike"><i class="fas fa-hiking">&nbsp;&nbsp;</i>trekking</li>
               {% endif %}


               {% if activity.boating %}
                  <li><i class="fas fa-ship">&nbsp;</i>boating</li>
               {% else %}
                  <li class="strike"><i class="fas fa-ship">&nbsp;&nbsp;</i>boating</li>
               {% endif %}


               {% if activity.waterfall %}
                  <li><i class="fas fa-water">&nbsp;</i>waterfalls</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>waterfalls</li>
               {% endif %}

               {% if activity.lake %}
                  <li><i class="fas fa-water">&nbsp;</i>lake</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>lake</li>
               {% endif %}


               {% if activity.jungle_walk %}
                  <li><i class="fas fa-tree">&nbsp;</i>jungle walk</li>
               {% else %}
                  <li class="strike"><i class="fas fa-tree">&nbsp;&nbsp;</i>jungle walk</li>
               {% endif %}


               {% if activity.caving %}
                  <li><i class="fas fa-archway">&nbsp;</i>caving</li>
               {% else %}
                  <li class="strike"><i class="fas fa-archway">&nbsp;&nbsp;</i>caving</li>
               {% endif %}


               {% if activity.local_farm %}
                  <li><i class="fas fa-tractor">&nbsp;</i>local farm visit</li>
               {% else %}
                  <li class="strike"><i class="fas fa-tractor">&nbsp;&nbsp;</i>local farm visit</li>
               {% endif %}

               {% if activity.river_beach %}
                  <li><i class="fas fa-umbrella-beach">&nbsp;</i>river beach</li>
               {% else %}
                  <li class="strike"><i class="fas fa-umbrella-beach">&nbsp;&nbsp;</i>river beach</li>
               {% endif %}


               {% if activity.swimming %}
                  <li><i class="fas fa-water">&nbsp;</i>swimming</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>swimming</li>
               {% endif %}


               {% if activity.historical_monument %}
                  <li><i class="fas fa-school">&nbsp;</i>historical monument</li>
               {% else %}
                  <li class="strike"><i class="fas fa-school">&nbsp;&nbsp;</i>historical monument</li>
               {% endif %}


               {% if activity.fishing %}
                  <li><i class="fas fa-fish">&nbsp;</i>fishing</li>
               {% else %}
                  <li class="strike"><i class="fas fa-fish">&nbsp;&nbsp;</i>fishing</li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <hr>
      <br>
   <div class="">
         <div class="row">
            <div class="col-md-3">
               <h4 class="description__style">Accommodation and Charges</h4>
            </div>
            <div class="col-md-8 text-style details">
               <p>Check-in: {{detail.check_in}}</p>
               <p>Check-out: {{detail.check_out}}</p>
               <p>Cancellation policy: {{detail.cancellation_policy}}</p>
            </div>
         </div>
      </div>
    <hr>
      <br>
   <div class="">
      <div class="row">
         <div class="col-md-3">
            <h4 class="description__style">Climate and Temperature</h4>
         </div>
         <div class="col-md-8 text-style details">
            <p>Suitable for: All Seasons</p>
            <p>{{destination.night_time_temperature_summer}}</p>
            <p>{{destination.night_time_temperature_winter}}</p>
         </div>
      </div>
      <hr>
   <div class="">
         <div class="row">
            <div class="col-md-3">
               <h4>Note</h4>
            </div>
            <div class="col-md-8 text-style details">
               <p>{{destination.note}}</p>
            </div>
         </div>
      </div>
      <hr>
      </div>
    {% if destination.place == "CampingCo Nongkhnum" %}
      <form class="book" action="{% url 'destination:destination_detail_page' slug=destination.slug %}" method="GET" autocomplete="off">
         {% csrf_token %}
          <div class="book__heading">
                <p class="book__heading--text">Select camping dates</p>
                <p class="book__heading--cross">&#10005;</p>
          </div>
          <div class="row mb-4">
              <div class="col-6">
                  <div class="check-in">
                      <p class="check-in__text">Check in</p>
                      <input id="datetimepicker" placeholder="DD/MM/YYYY" name="tripDay"required class="check-in__date" type="text">
                  </div>
              </div>
              <div class="col-6">
                  <div class="days">
                    <p class="days__text">Days</p>
                    <input class="days__date" min="0" name="Duration" type="number" required>
                  </div>
              </div>
          </div>

          <div class="book__description my-1 container">
              <div class="row">
                  <p class="col-3">Type</p>
                  <p class="col-3">Price</p>
                  <p class="col-3">QTY</p>
                <p class="col-3">Total price</p>
              </div>

          </div>
          <div class="container">
              <div class="row">
              <div class="col-3">
                  <p>Roof top tent</p>
              </div>
              <div class="col-3">
                  <p>500</p>
              </div>
              <div class="col-3">
                  <input id="roof" class="quantity" type="number" min="0" placeholder="0" required>
              </div>
              <div class="col-3">
                  <p class="price--1">Rs 0</p>
              </div>
          </div>
             <div class="row">
              <div class="col-3">
                  <p>Caravan</p>
              </div>
              <div class="col-3">
                  <p>750</p>
              </div>
              <div class="col-3">
                  <input id="caravan" class="quantity" type="number" min="0" placeholder="0" required>
              </div>
                 <div class="col-3">
                  <p class="price--2">Rs 0</p>
              </div>
          </div>
              <div class="row">
              <div class="col-3">
                  <p>Ground tent</p>
              </div>
              <div class="col-3">
                  <p>350</p>
              </div>
              <div class="col-3">
                  <input id="ground" class="quantity" type="number" min="0" placeholder="0" required>
              </div>
                  <div class="col-3">
                  <p class="price--3">Rs 0</p>
              </div>
          </div>

              <div class="row">
              <div class="col-3">
                  <p>IGST</p>
              </div>
              <div class="col-3">

              </div>
              <div class="col-3">

              </div>
                  <div class="col-3">
                  <p class="price--4">Rs 0</p>
              </div>
          </div>

            <div class="row">
              <div class="col-3">
                  <p>Convenience charges</p>
              </div>
              <div class="col-3">

              </div>
              <div class="col-3">

              </div>
                  <div class="col-3">
                  <p class="price--5">Rs 0</p>
              </div>
          </div>
          </div>
            <button id="rzp-button1" type="button" class="form__button">BOOK</button>
      </form>
<script defer src="{% static 'js/razorpay.js' %}"></script>
{% endif %}
</div>
<script>
window.onload = function(){
    var rooftop = 0, ground = 0, caravan = 0,igst = 0, convenience = 0;

    //hiding book
    $(".book__heading--cross").click(function(){
       $(".book").css("position","static")
       $(".book").css({'transform' : 'translate(' + 0 +', ' + 0 + ')'});
    });
    // fucntion to change total amount
    $("#roof").change(function(){
       rooftop = $(this).val() * 500
       var temp = ground + rooftop + caravan;
       igst = temp * .18;
       convenience = temp * .024;

       var str = 'Rs ' + rooftop
       var str2 = 'Rs ' + igst
       var str3 = 'Rs' + convenience
       $(".price--1").text(str)
       $(".price--4").text(str2)
       $(".price--5").text(str3)
    });

    $("#caravan").change(function(){
       caravan = $(this).val() * 750
       var temp = ground + rooftop + caravan;
       igst = temp * .18;
       convenience = temp * .024;

       var str = 'Rs ' + caravan
       var str2 = 'Rs ' + igst
       var str3 = 'Rs' + convenience
       $(".price--2").text(str)
       $(".price--4").text(str2)
       $(".price--5").text(str3)
    });


    $("#ground").change(function(){
       ground = $(this).val() * 350
       var temp = ground + rooftop + caravan;
       igst = temp * .18;
       convenience = temp * .024;

       var str = 'Rs ' + ground
       var str2 = 'Rs ' + igst
       var str3 = 'Rs' + convenience
       $(".price--3").text(str)
       $(".price--4").text(str2)
       $(".price--5").text(str3)
    });

    $("#datetimepicker").datetimepicker({
     timepicker:false,
     format:'Y-m-d',
     minDate:0,
     });

   var options = {
       "currency": "INR",
       "name": "Camping co",
       "description": "Overlanding expedition booked",
       "image": "{% static 'images/favi/apple-icon-72x72.png' %}",
       "handler": function (response){
               var end_point = {% url 'destination:destinations' %}
               var end = end_point + "success/";//success/faliure
               var t = $("input[name=csrfmiddlewaretoken]").val();
               data = {
                 "txnid": response.razorpay_payment_id,
                 "csrfmiddlewaretoken": t
               }
               $.ajax({
                 data: data,
                 url: end,
                 method: "POST",
                 success: function(data){
                 window.location.href = end;
                 },
                 error: function(error){
                     console.log(error)
                 }
             })
       },
       "prefill": {
       },
       "notes": {
           "address": "note value"
       },
       "theme": {
           "color": "#1ab188"
       }
   };

 document.getElementById('rzp-button1').onclick = function(e){
    e.preventDefault();
        var paymentMethodEndpoint = "{% url 'destination:destination_detail_page' slug=destination.slug %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        data = {
         "csrfmiddlewaretoken": t,
         "Rooftop": rooftop,
         "Ground": ground,
         "Caravan": caravan,
         "date": $("input[name=tripDay]").val(),
         "number": $("input[name=Duration]").val(),
        }
      $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
            options.amount = (data.amount) * 100
            options.prefill.email = data.email
            options.prefill.name = data.name
            options.key = data.razor_id
            var rzp1 = new Razorpay(options);
            rzp1.open();
            },
            error: function(error){
                console.log(error)
            }
        })
        }
}
</script>
{% endblock %}