{% extends "snippets/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home/detail.css' %}">
<link rel="canonical" href="https://www.camping-co.com">
{% endblock %}
{% block title %}
<title>{{item.place}}</title>
{% endblock %}
{% block meta %}
<meta name="description" content="{{item.description}}">
<meta name="keywords" content="camping places detail, camping activities, camping origins, camping stay hours">
{% endblock %}
{% block content_block %}
<h1>&nbsp;</h1>
<br>
<br>
<h1 class="container">{{Data}}</h1>
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image1.url}});">
            </div>
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image2.url}});">
         </div>
      </div>
      <div class="row no-gutters">
         <div class="col-md-6">
            <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image3.url}});">
         </div>
         <div class="col-md-6">
               <img class="image__fix" style="width:100%; height: 360px; background-image: url({{image.image4.url}});">
         </div>
      </div>
   </div>
<br>
      <div class="cards">
      <h2 style="display: inline-block;">{{destination.place}}</h2> &nbsp;<span>({{destination.state_city}})</span>
         <p><strong>Accessible By:</strong> {{detail.accessible_By}}</p>
      <p style="margin-top: -2%;"><strong>Known for:</strong> {{destination.cc_higlight}}</p>
      <i class="fas fa-car"></i>
      <i class="fas fa-biking"></i>
      <i class="fas fa-fire"></i>
      <i class="fas fa-toilet-paper"></i>
      <span class="cards__text">Off &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cycling &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Campfire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;toilet </span>
      <span class="cards__text">Roading</span>
      <br>
                  <p>Important To know: {{destination.important_to_know}}</p>
         {% if user.is_authenticated %}
         <p><a href="{{destination.map_loc}}">Google Maps Location</a>&nbsp;&nbsp;&nbsp;Contact Number: {{detail.phone}}</p>
         {% else %}
         <p class="cards__contact">Contact Number</p>
         <form action="{% url 'register:signin' %}" method="GET">
            <input hidden name="next" value="{{place}}">
            <button class="btn btn-secondary">Sign in for info</button>
         </form>
         {% endif %}
      </div>

<div class="container">
   <div class="description">
      <div class="row">
         <div class="col-md-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="description__style">
               <h4>Description and Features</h4>
            </div>
         </div>
         <div class="col-md-9 text-style">
            <br>
            <div class="description__content">{{destination.description|safe}}</div>
         </div>
      </div>
   </div>
   <hr>
      <br>
   <div class="">
      <div class="row">
         <div class="col-md-3">
            <h4>Amenities</h4>
         </div>
         <div class="col-md-9 divide">
            <ul>
               {% if amenity.basic_toilet %}
                  <li><i class="fas fa-toilet">&nbsp;</i>Toilet</li>
               {% else %}
                  <li class="strike"><i class="fas fa-toilet">&nbsp;&nbsp;</i>toilet</li>
               {% endif %}

               {% if amenity.bathroom %}
                  <li><i class="fas fa-toilet">&nbsp;</i>bathroom</li>
               {% else %}
                  <li class="strike"><i class="fas fa-restroom">&nbsp;&nbsp;</i>bathroom</li>
               {% endif %}

               {% if amenity.kitchen %}
                  <li><i class="fas fa-utensils">&nbsp;</i>kitchen</li>
               {% else %}
                  <li class="strike"><i class="fas fa-utensils">&nbsp;&nbsp;</i>kitchen</li>
               {% endif %}

               {% if amenity.pets_allowed %}
                  <li><i class="fas fa-paw">&nbsp;</i>pets</li>
               {% else %}
                  <li class="strike"><i class="fas fa-paw">&nbsp;&nbsp;</i>pets</li>
               {% endif %}

               {% if amenity.charging_points %}
                  <li><i class="fas fa-charging-station"></i>&nbsp;</i>charging points</li>
               {% else %}
                  <li class="strike"><i class="fas fa-charging-station"></i>&nbsp;&nbsp;</i>charging points</li>
               {% endif %}

               {% if amenity.drinking_water %}
                  <li><i class="fas fa-glass-whiskey">&nbsp;</i>drinking water</li>
               {% else %}
                  <li class="strike"><i class="fas fa-glass-whiskey">&nbsp;&nbsp;</i>drinking water</li>
               {% endif %}

               {% if amenity.covered_area %}
                  <li class="fix"><i class="fas fa-home">&nbsp;</i>covered area</li>
               {% else %}
                  <li class="strike"><i class="fas fa-home">&nbsp;&nbsp;</i>covered area</li>
               {% endif %}

               {% if amenity.barbeque_grills %}
                  <li><img src="https://img.icons8.com/material-outlined/24/000000/grill.png">barbeque</li>
               {% else %}
                  <li class="strike"><img src="https://img.icons8.com/material-outlined/24/000000/grill.png"> >barbeque</li>
               {% endif %}

               {% if amenity.campfire %}
                  <li><i class="fas fa-fire">&nbsp;</i>bonfire</li>
               {% else %}
                  <li class="strike"><i class="fas fa-fire">&nbsp;&nbsp;</i>bonfire</li>
               {% endif %}

               {% if amenity.picnic_table %}
                  <li><i class="fas fa-table">&nbsp;</i>picnic table</li>
               {% else %}
                  <li class="strike"><i class="fas fa-table">&nbsp;&nbsp;</i>picnic table</li>
               {% endif %}

               {% if amenity.breakfast %}
                  <li><i class="fas fa-egg">&nbsp;</i>breakfast</li>
               {% else %}
                  <li class="strike"><i class="fas fa-egg">&nbsp;&nbsp;</i>breakfast</li>
               {% endif %}

            </ul>
         </div>
      </div>
   </div>
   <hr>
   <br>

   <div class="Activity">
      <div class="row">
         <div class="col-md-3">
            <h4>Activities</h4>
         </div>
         <div class="col-md-9 divide">
            <ul>

               {% if activity.off_roading %}
                  <li><i class="fas fa-car">&nbsp;</i>off-roading</li>
               {% else %}
                  <li class="strike"><i class="fas fa-table">&nbsp;&nbsp;</i>off-roading</li>
               {% endif %}


               {% if activity.trekking %}
                  <li><i class="fas fa-hiking">&nbsp;</i>trekking</li>
               {% else %}
                  <li class="strike"><i class="fas fa-hiking">&nbsp;&nbsp;</i>trekking</li>
               {% endif %}


               {% if activity.boating %}
                  <li><i class="fas fa-ship">&nbsp;</i>boating</li>
               {% else %}
                  <li class="strike"><i class="fas fa-ship">&nbsp;&nbsp;</i>boating</li>
               {% endif %}


               {% if activity.waterfall %}
                  <li><i class="fas fa-water">&nbsp;</i>waterfalls</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>waterfalls</li>
               {% endif %}

               {% if activity.lake %}
                  <li><i class="fas fa-water">&nbsp;</i>lake</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>lake</li>
               {% endif %}


               {% if activity.jungle_walk %}
                  <li><i class="fas fa-tree">&nbsp;</i>jungle walk</li>
               {% else %}
                  <li class="strike"><i class="fas fa-tree">&nbsp;&nbsp;</i>jungle walk</li>
               {% endif %}


               {% if activity.caving %}
                  <li><i class="fas fa-archway">&nbsp;</i>caving</li>
               {% else %}
                  <li class="strike"><i class="fas fa-archway">&nbsp;&nbsp;</i>caving</li>
               {% endif %}


               {% if activity.local_farm %}
                  <li><i class="fas fa-tractor">&nbsp;</i>local farm visit</li>
               {% else %}
                  <li class="strike"><i class="fas fa-tractor">&nbsp;&nbsp;</i>local farm visit</li>
               {% endif %}

               {% if activity.river_beach %}
                  <li><i class="fas fa-umbrella-beach">&nbsp;</i>river beach</li>
               {% else %}
                  <li class="strike"><i class="fas fa-umbrella-beach">&nbsp;&nbsp;</i>river beach</li>
               {% endif %}


               {% if activity.swimming %}
                  <li><i class="fas fa-water">&nbsp;</i>swimming</li>
               {% else %}
                  <li class="strike"><i class="fas fa-water">&nbsp;&nbsp;</i>swimming</li>
               {% endif %}


               {% if activity.historical_monument %}
                  <li><i class="fas fa-school">&nbsp;</i>historical monument</li>
               {% else %}
                  <li class="strike"><i class="fas fa-school">&nbsp;&nbsp;</i>historical monument</li>
               {% endif %}


               {% if activity.fishing %}
                  <li><i class="fas fa-fish">&nbsp;</i>fishing</li>
               {% else %}
                  <li class="strike"><i class="fas fa-fish">&nbsp;&nbsp;</i>fishing</li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <hr>
      <br>
   <div class="">
         <div class="row">
            <div class="col-md-3">
               <h4 class="description__style">Accommodation and Charges</h4>
            </div>
            <div class="col-md-8 text-style details">
               <p>Check-in: {{detail.check_in}}</p>
               <p>Check-out: {{detail.check_out}}</p>
               <p>Cancellation policy: {{detail.cancellation_policy}}</p>
            </div>
         </div>
      </div>
    <hr>
      <br>
   <div class="">
      <div class="row">
         <div class="col-md-3">
            <h4 class="description__style">Climate and Temperature</h4description__style>
         </div>
         <div class="col-md-8 text-style details">
            <p>Suitable for: All Seasons</p>
            <p>{{destination.night_time_temperature_summer}}</p>
            <p>{{destination.night_time_temperature_winter}}</p>
         </div>
      </div>
      <hr>
   <div class="">
         <div class="row">
            <div class="col-md-3">
               <h4>Note</h4>
            </div>
            <div class="col-md-8 text-style details">
               <p>{{destination.note}}</p>
            </div>
         </div>
      </div>
    <br>
    <br>
      </div>
</div>
{% endblock %}