{% extends "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/customer/payment.css' %}">
    {% endblock %}


    {% block content_block %}
<br>
<div class="shopping-cart my-5 container">
<h1>Shopping Cart</h1>
<form id="payment-form" method="POST">{% csrf_token %}
<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-line-price">Total</label>
  </div>

  <hr>
  <div class="product">
    <div class="product-image">
      <img src="{{vehicle.car_image.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">Car (2999 per night) Base price (350 per preson after 2)</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">350</div>
    <div class="product-quantity">
      <input quant="111" type="number" value="2" min="2">
    </div>

    <div class="product-line-price">0</div>
  </div>
<hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Campkit (Sleeping bags, kettle, saucepan, charcoal stove)</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">1500</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Gas stove</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">1000</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Solar power station for charging needs</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">500</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Torch</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">50</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Camping Chair</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">50</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
  <hr>
  <div class="product">
    <div class="product-image">
      <img src="">
    </div>
    <div class="product-details">
      <div class="product-title">Table</div>
      <p class="product-description"></p>
    </div>
    <div class="product-price">1000</div>
    <div class="product-quantity">
      <input type="number" value="0" min="0">
    </div>

    <div class="product-line-price">0</div>
  </div>
<hr>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">2999</div>
    </div>
    <div class="totals-item">
      <label>Tax</label>
      <div class="totals-value" id="cart-tax">539.82</div>
    </div>
    <div class="totals-item">
      <label>Convenience charge</label>
      <div class="totals-value" id="cart-shipping">59.98</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">3598.8</div>
    </div>
  </div>
      <button type="button" class="checkout">Checkout</button>
</div>
</form>
</div>
<br>
<script>
  window.onload = function(){
  let duration = localStorage.getItem("duration")
var totals = 0;
var taxRate = 0.18;
var shippingRate = .021;
var fadeTime = 300;


if (duration >= 4){
$('.product-price')[2].textContent = 2000
}

var pri = 2999 * parseInt(localStorage.getItem("duration"));
var tot = ((.18 * pri) + (.02 * pri) + pri)
$(".totals-value")[0].textContent = pri
$(".totals-value")[1].textContent = (.18 * pri).toFixed(2);
$(".totals-value")[2].textContent = (.021 * pri).toFixed(2);
$(".totals-value")[3].textContent = tot


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {
  removeItem(this);
});



/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 2999 * parseInt(localStorage.getItem("duration"));

  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });

  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = subtotal * shippingRate;
  var total = subtotal + tax + shipping; /*+ tax + shipping;*/
  totals = total

  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  if ($(quantityInput).attr("quant")){
  if (quantity <= 2){
    quantity = 0;
  } else {
    quantity -= 2
    }
}

  var linePrice = price * quantity;

  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });
  }
    $("button").click(function(){
        var paymentForm = $("#payment-form")
        var paymentMethodEndpoint = "{% url 'payment:payment' %}"
        var t = $("input[name=csrfmiddlewaretoken]").val();
        if (totals == 0){
          totals = tot
        }
        var data = {
            "total": totals,
            'csrfmiddlewaretoken': t
        }
        $.ajax({
            data: data,
            url: paymentMethodEndpoint,
            method: "POST",
            success: function(data){
                window.location.href = "{% url 'payment:checkout' %}"
            },
            error: function(error){
                console.log(error)
            }
        })
  });
}
</script>
    {% endblock %}